@using Window.Web.Culture
@model Window.Domain.ViewModels.User.Authentication.RegisterUserViewModel
@{
    ViewData["Title"] = Localizer["Register"].Value;
    Layout = "Identity/_IdentityLayout";
    var culture = ApplicationCultures.GetCurrentCulture();
    var isRtl = culture.IsRtl;
}

<div class="register-container animated fadeInDown">
    <form method="post" dir="rtl" asp-antiforgery="true">
        <div class="registerbox bg-white">
            <div class="registerbox-title">@Localizer["ثبت نام"]</div>
            
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="All" class="alert alert-danger margin-left-20 margin-right-20 margin-top-10"></div>
            }

            <div class="registerbox-caption text-right">@Localizer["اطلاعات خود را وارد کنید "]</div>

            <div class="registerbox-textbox col-6">
                <label asp-for="Username">نام کاربری </label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="registerbox-textbox">
                <label asp-for="Email">ایمیل</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
            
            <div class="registerbox-textbox">
                <label asp-for="Mobile">موبایل</label>
                <input asp-for="Mobile" class="form-control" placeholder="@Localizer["مثال 09**********"]"/>
                <span asp-validation-for="Mobile" class="text-danger small"></span>
            </div>

            <div class="registerbox-textbox">
                <label asp-for="Password">کلمه ی عبور</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            
            <div class="registerbox-textbox">
                <label asp-for="RePassword">تکرار کلمه ی عبور</label>
                <input asp-for="RePassword" class="form-control"/>
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            
            <div class="registerbox-textbox">
                <a asp-action="Login">@Localizer["ورود"]</a>
            </div>

            <div class="registerbox-submit mt-3" dir="rtl">
                <input type="submit" class="btn btn-primary" value="@Localizer["ثبت نام"]">
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="/Identity/Register.js"></script>
}
