@model Window.Domain.ViewModels.Site.Shop.Order.InvoiceDTO
@using Window.Application.StaticTools;
@using Window.Application.Extensions;
@using Window.Application.StticTools

@{
    ViewData["Title"] = "پیش فاکتور ";
    Layout = "_ShopLayout";
}


<main class="main-content dt-sl mb-3" style="margin-top: 207.967px; transform: none;">
    <div class="container main-container" style="transform: none;">
        <div class="row" style="transform: none;">
            <div class="cart-page-content col-xl-9 col-lg-8 col-12 px-0">


                <section class="page-content dt-sl">
                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                        <h2>انتخاب شیوه پرداخت</h2>
                    </div>
                    <form method="post"
                          asp-action="SelectOrderPaymentWay"
                          asp-area=""
                          asp-controller="OrderPayment"
                          id="shipping-data-form" class="dt-sn dt-sn--box pt-3 pb-3 mb-4">

                        <div class="checkout-pack">
                            <div class="row">

                                <div class="checkout-time-table checkout-time-table-time">
                                    <div class="col-12">
                                        <div class="radio-box custom-control custom-radio pl-0 pr-3">
                                            <input type="radio" class="custom-control-input" name="OrderPaymentWay" id="1" value="0">
                                            <label for="1" class="custom-control-label">
                                                <img src="/DidiKala/assets/img/svg/d86ea8ec.svg" class="checkout-additional-options-checkbox-image">
                                                <div class="content-box">
                                                    <div class="checkout-time-table-title-bar checkout-time-table-title-bar-city">
                                                        خرید اقساط(خرید با چک)
                                                    </div>

                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="radio-box custom-control custom-radio pl-0 pr-3">
                                            <input type="radio" class="custom-control-input" name="OrderPaymentWay" id="2" value="1">
                                            <label for="2" class="custom-control-label">
                                                <img src="/DidiKala/assets/img/svg/d86ea8ec.svg" class="checkout-additional-options-checkbox-image">
                                                <div class="content-box">
                                                    <div class="checkout-time-table-title-bar checkout-time-table-title-bar-city">
                                                        خرید نقدی
                                                    </div>

                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                  
                    <div class="row justify-content-end px-res-1">
                        <div class="col-lg-3 col-md-4 col-sm-5 col-12">
                            <button type="submit" class="btn-primary-cm btn-with-icon  w-100">
                                <i class="mdi mdi-credit-card-outline"></i>
                                پرداخت سفارش
                            </button>
                        </div>
                        </div>
                    </form>
                </section>

                <section class="page-content dt-sl">

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                        <h2>اطلاعات آدرس تحویل محصول</h2>
                    </div>

                    @if (Model.Location != null)
                    {
                        <div class="checkout-address-box is-selected">
                            <h5 class="checkout-address-title pr-3">@Model.Location.FirstName  @Model.Location.LastName</h5>
                            <p class="checkout-address-text pr-3">
                                <span>
                                    @Model.Location.Address
                                </span>
                            </p>
                            <ul class="checkout-address-list">
                                <li>
                                    <ul class="checkout-address-contact-info">
                                        <li class="pr-3">
                                            کدپستی:
                                            <span>
                                                @(string.IsNullOrEmpty(Model.Location.PostalCode) ? "-" : Model.Location.PostalCode)
                                            </span>
                                        </li>
                                        <li class="pr-3">
                                            شماره همراه: <span>@Model.Location.Mobile</span>
                                        </li>
                                        <li class="pr-3">
                                            استان و شهر: <span>@Model.Location.State - @Model.Location.City</span>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    }

                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1 mt-4">
                        <h2>مرسوله ها @Model.OrderDetails.Count()</h2>
                    </div>

                    <div class="checkout-pack">
                        <section class="products-compact">
                            <!-- Start Product-Slider -->
                            <div class="col-12">
                                <div class="products-compact-slider carousel-md owl-carousel owl-theme owl-rtl owl-loaded owl-drag">

                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 1414px;">

                                            @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                                            {
                                                foreach (var orderDetail in Model.OrderDetails)
                                                {
                                                    <div class="owl-item active" style="width: 192px; margin-left: 10px;">
                                                        <div class="item">
                                                            <div class="product-card mb-3">
                                                                <a class="product-thumb" asp-action="ShopProductDetail"
                                                                   asp-area=""
                                                                   asp-controller="ShopProduct"
                                                                   asp-route-productId="@orderDetail.Product.ProductId">
                                                                    <img src="@FilePaths.ProductsPathThumb/@orderDetail.Product.ProductImage" alt="Product Thumbnail">
                                                                </a>
                                                                <div class="product-card-body">
                                                                    <h5 class="product-title">
                                                                        <a asp-action="ShopProductDetail"
                                                                           asp-area=""
                                                                           asp-controller="ShopProduct"
                                                                           asp-route-productId="@orderDetail.Product.ProductId">@orderDetail.Product.ProductTitle</a>
                                                                    </h5>
                                                                    <span class="product-price">@orderDetail.Product.SellerName</span>
                                                                    <span class="product-price">@orderDetail.Product.Price.ToString("#,000")  ریال</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product-Slider -->
                        </section>
                        <hr>


                    </div>

                </section>

            </div>
            <div class="col-xl-3 col-lg-4 col-12 w-res-sidebar sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


                <div class="theiaStickySidebar" style="position: static; transform: none;">
                    <div class="dt-sn dt-sn--box border mb-2">
                        <ul class="checkout-summary-summary">
                            <li>
                                <span>مبلغ کل (@Model.OrderDetails.Count() کالا)</span><span>
                                    @Model.OrderDetails.Sum(p => p.Count * p.Product.Price).ToString("#,000") ریال
                                </span>
                            </li>
                            <li>
                                <span>
                                    هزینه ارسال<span class="help-sn" data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>هزینه ارسال مرسولات می‌تواند وابسته به شهر و آدرس گیرنده متفاوت باشد. در صورتی که هر یک از مرسولات حداقل ارزشی برابر با ۱۵۰هزار تومان داشته باشد، آن مرسوله بصورت رایگان ارسال می‌شود.<br>'حداقل ارزش هر مرسوله برای ارسال رایگان، می تواند متغیر باشد.'</p></div>">
                                        <span class="mdi mdi-information-outline"></span>
                                    </span>
                                </span><span>وابسته به آدرس</span>
                            </li>
                        </ul>
                        <div class="checkout-summary-devider">
                            <div></div>
                        </div>
                        <div class="checkout-summary-content">
                            <div class="checkout-summary-price-title">مبلغ قابل پرداخت:</div>
                            <div class="checkout-summary-price-value">
                                <span class="checkout-summary-price-value-amount">@Model.OrderDetails.Sum(p => p.Count * p.Product.Price).ToString("#,000")</span>
                                ریال
                            </div>
                            <a href="#" class="mb-2 d-block">
                                <a class="btn-primary-cm btn-with-icon w-100 text-center pr-0"
                                   asp-action="DeleteOrder"
                                   asp-area=""
                                   asp-controller="Order"
                                   style="margin-right: 40px;margin-bottom: 10px; background-color: #000 !important;">
                                    حذف و انتخاب مجدد محصولات
                                </a>
                            </a>

                            <div style="margin-top:20px;">
                                <span>
                                    کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش
                                    مرحله انتخاب روش پرداخت را تکمیل کنید.
                                </span><span class="help-sn" data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="<div class='help-container is-right'><div class='help-arrow'></div><p class='help-text'>محصولات موجود در سبد خرید شما تنها در صورت ثبت و پرداخت سفارش برای شما رزرو می‌شوند. در صورت عدم ثبت سفارش، دیجی‌کالا هیچگونه مسئولیتی در قبال تغییر قیمت یا موجودی این کالاها ندارد.</p></div>">
                                    <span class="mdi mdi-information-outline"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sn dt-sn--box checkout-feature-aside pt-4">
                        <ul>
                            <li class="checkout-feature-aside-item">
                                <img src="/DidiKala/assets/img/svg/return-policy.svg" alt="">
                                هفت روز ضمانت تعویض
                            </li>
                            <li class="checkout-feature-aside-item">
                                <img src="/DidiKala/assets/img/svg/payment-terms.svg" alt="">
                                پرداخت در محل با کارت بانکی
                            </li>
                            <li class="checkout-feature-aside-item">
                                <img src="/DidiKala/assets/img/svg/delivery.svg" alt="">
                                تحویل اکسپرس
                            </li>
                        </ul>
                    </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all; width: 360px; height: 1211px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</main>