@using Window.Application.StticTools
@using Window.Domain.ViewModels.Site.Shop.ShopProduct;
@model Window.Domain.ViewModels.Site.Shop.ShopProduct.FilterShopProductDTO;
@using Window.Application.StaticTools;

@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "_ShopLayout";

    var shopCategories = ViewData["ListOfShopCategories"] as List<ShopCategoriesForShowInFilterShopProduct>;
    var SelectedParentCategoryTitle = ViewData["SelectedParentCategoryTitle"] as string;
    var SelectedParentCategoryMainTitle = ViewData["SelectedParentCategoryMainTitle"] as string;

    var brands = ViewData["Brands"] as List<ListOfBrandsForFilterProductsDTO>;

    var colors = ViewData["Colors"] as List<ListOfColorsForFilterProductsDTO>;
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            var nonLinearStepSlider = document.getElementById('slider-non-linear-step');
            noUiSlider.create(nonLinearStepSlider, {
                start: [0, 20000],
                connect: true,
                direction: 'rtl',
                format: wNumb({
                    decimals: 0,
                    thousand: ','
                }),
                range: {
                    'min': [0],
                    '10%': [500, 500],
                    '50%': [40000, 1000],
                    'max': [100000]
                }
            });
            var nonLinearStepSliderValueElement = document.getElementById('slider-non-linear-step-value');
            nonLinearStepSlider.noUiSlider.on('update', function (values) {
                nonLinearStepSliderValueElement.innerHTML = values.join(' - ');
            });
        });
    </script>

}

<main class="main-content dt-sl mb-3" style="margin-top: 209.167px; transform: none;">
    <div class="container main-container" style="transform: none;">
        <div class="row" style="transform: none;">
            <!-- Start Sidebar -->
            <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar filter-options-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    <div class="d-md-none">
                        <div class="header-filter-options">
                            <span>جستجوی پیشرفته <i class="fad fa-sliders-h"></i></span>
                            <button class="btn-close-filter-sidebar"><i class="fal fa-times"></i></button>
                        </div>
                    </div><div class="dt-sn dt-sn--box mb-3">
                        <form id="filter-search" asp-action="FilterProducts" asp-area="" asp-controller="ShopProduct" method="get">
                            <input asp-for="ShopCategoryParentId" type="hidden" />
                            <input asp-for="ProductTitle" type="hidden" />
                            <input type="hidden" asp-for="Page" />

                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                                    <h2>فیلتر محصولات</h2>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="widget-search">
                                    <input type="text" asp-for="ProductTitle" placeholder="نام محصول مورد نظر را بنویسید...">
                                    <button class="btn-search-widget">
                                        <img src="/DidiKala/assets/img/theme/search.png" alt="">
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 filter-product mb-3">
                                <div class="accordion" id="accordionExample">

                                    @if (!string.IsNullOrEmpty(SelectedParentCategoryTitle))
                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        دسته بندی های @SelectedParentCategoryTitle

                                                    </button>
                                                    @if (Model.shopCategories != null && Model.shopCategories.Any())
                                                    {
                                                        <input name="shopCategories" type="hidden" value="@Model.shopCategories.First()" />
                                                    }
                                                </h2>
                                            </div>
                                        </div>
                                    }
                                    @if (shopCategories != null && shopCategories.Any())
                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        دسته بندی های @SelectedParentCategoryMainTitle
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                                <div class="card-body">

                                                    @foreach (var shopCategory in shopCategories)
                                                    {
                                                        if (Model.shopCategories != null && Model.shopCategories.Any() && Model.shopCategories.Contains(shopCategory.ShopCategoryId))
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckTitle@(shopCategory.ShopCategoryId)" name="shopCategories" value="@shopCategory.ShopCategoryId" checked="checked">
                                                                <label class="custom-control-label" for="customCheckTitle@(shopCategory.ShopCategoryId)">@shopCategory.ShopCategoryTitle</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckTitle@(shopCategory.ShopCategoryId)" name="shopCategories" value="@shopCategory.ShopCategoryId">
                                                                <label class="custom-control-label" for="customCheckTitle@(shopCategory.ShopCategoryId)">@shopCategory.ShopCategoryTitle</label>
                                                            </div>
                                                        }

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }


                                    @if (brands != null && brands.Any())
                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        برند
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">

                                                    @foreach (var brand in brands)
                                                    {
                                                        if (Model.BrandId != null && Model.BrandId.Any() && Model.BrandId.Contains(brand.Id))
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckBrand@(brand.Id)" value="@brand.Id" name="BrandId" checked="checked">
                                                                <label class="custom-control-label" for="customCheckBrand@(brand.Id)">@brand.BrandTitle</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckBrand@(brand.Id)" value="@brand.Id" name="BrandId">
                                                                <label class="custom-control-label" for="customCheckBrand@(brand.Id)">@brand.BrandTitle</label>
                                                            </div>
                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (colors != null && colors.Any())
                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        رنگها
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body">

                                                    @foreach (var color in colors)
                                                    {
                                                        if (Model.ColorsId != null && Model.ColorsId.Any() && Model.ColorsId.Contains(color.Id))
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckColor@(color.Id)" value="@color.Id" name="ColorsId" checked="checked">
                                                                <label class="custom-control-label" for="customCheckColor@(color.Id)">@color.ColorTitle</label>
                                                                <span class="filter-color" style="background-color: @color.ColorCode"></span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckColor@(color.Id)" value="@color.Id" name="ColorsId">
                                                                <label class="custom-control-label" for="customCheckColor@(color.Id)">@color.ColorTitle</label>
                                                                <span class="filter-color" style="background-color: @color.ColorCode"></span>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>

                            @* <div class="col-12 mb-4">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>فیلتر براساس قیمت :</h2>
                            </div>
                            <div class="mt-2 mb-2">
                            <div id="slider-non-linear-step" class="noUi-target noUi-rtl noUi-horizontal">
                            <div class="noUi-base">
                            </div>
                            </div>
                            </div>
                            <div class="mt-2 mb-2 text-center pt-2">
                            <span>قیمت: </span>
                            <span class="example-val" id="slider-non-linear-step-value">0 - 20,000</span> تومان
                            </div>
                            </div> *@
                            <div class="col-12">
                                <button class="btn btn-info btn-block" type="submit">
                                    فیلتر
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 360px; height: 1385px;">
                            </div>
                        </div>
                        <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!-- Start Content -->
            <div class="col-lg-9 col-md-12 col-sm-12 search-card-res">

                <div class="dt-sl dt-sn px-0 search-amazing-tab">

                    <div class="ah-tab-content-wrapper dt-sl px-res-0">

                        @if (Model.Entities != null && Model.Entities.Any())
                        {
                            <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                                <div class="row mb-3 mx-0 px-res-0">

                                    @foreach (var product in Model.Entities)
                                    {

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0">
                                            <div class="product-card mb-2 mx-res-0">

                                                @* <div class="promotion-badge">
                                        فروش ویژه
                                        </div> *@

                                                @*    <div class="product-head">
                                        <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        </div>
                                        <div class="discount">
                                        <span>20%</span>
                                        </div>
                                        </div> *@

                                                <a class="product-thumb"
                                                   asp-action="ShopProductDetail"
                                                   asp-area=""
                                                   asp-controller="ShopProduct"
                                                   asp-route-productId="@product.Id">
                                                    <img src="@FilePaths.ProductsPathThumb/@product.ProductImage" alt="Product Thumbnail">
                                                </a>

                                                <div class="product-card-body">

                                                    <h5 class="product-title">
                                                        <a asp-action="ShopProductDetail"
                                                           asp-area=""
                                                           asp-controller="ShopProduct"
                                                           asp-route-productId="@product.Id">@product.ProductName</a>
                                                    </h5>
                                                    <a class="product-meta" asp-action="SellerDetail"
                                                       asp-area=""
                                                       asp-controller="ShopSeller"
                                                       asp-route-sellerId="@product.User.Id">@product.User.Username</a>
                                                    <span class="product-price">@product.Price.ToString("#,000")  ریال</span>
                                                </div>

                                            </div>
                                        </div>

                                    }

                                </div>

                                <partial name="/views/shared/shop/_ShopPaging.cshtml" model="@Model.GetCurrentPaging()" />

                            </div>
                        }

                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</main>