@using Window.Application.StticTools
@model Window.Domain.ViewModels.Site.Shop.ShopProduct.ShopProductDetailDTO

@{
    ViewData["Title"] = $"{Model.ProductName}";
    Layout = "_ShopLayout";
}

<main class="main-content dt-sl mb-3" style="margin-top: 207.967px;">
    <div class="container main-container">
        <!-- Start title - breadcrumb -->
        <div class="title-breadcrumb-special dt-sl mb-3">
            <div class="breadcrumb dt-sl">
                <nav>
                    <a href="#">محصولات</a>
                    <a href="#">رنگ : @Model.Color.ColorTitle</a>
                    <a href="#">برند : @Model.Color.ColorTitle</a>
                </nav>
            </div>
        </div>
        <!-- End title - breadcrumb -->
        <!-- Start Product -->
        <div class="dt-sn mb-5 dt-sl">
            <div class="row">

                <!-- Product Gallery-->
                <div class="col-lg-4 col-md-6 ps-relative">

                    <!-- Product Options-->
                    <ul class="gallery-options">
                        <li>
                            <button class="add-favorites"><i class="mdi mdi-heart"></i></button>
                            <span class="tooltip-option">افزودن به علاقمندی</span>
                        </li>
                    </ul>

                    <div class="product-gallery">
                        <span class="badge">پر فروش</span>

                        <div class="product-carousel owl-carousel owl-rtl owl-loaded owl-drag" data-slider-id="1">

                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1592px;">

                                    @if (Model.ProductPirctures != null && Model.ProductPirctures.Any())
                                    {
                                        foreach (var pic in Model.ProductPirctures)
                                        {
                                            <div class="owl-item active" style="width: 398px;">
                                                <div class="item">
                                                    @if (Model.ProductPirctures.First() == pic)
                                                    {
                                                        <a class="gallery-item" href="@FilePaths.ProductsPath@pic" data-fancybox="gallery1">
                                                            <img src="@FilePaths.ProductsPath@pic" alt="Product">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="gallery-item" href="@FilePaths.ProductsGalleryPath@pic" data-fancybox="gallery1">
                                                            <img src="@FilePaths.ProductsGalleryPath@pic" alt="Product">
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="owl-nav">
                                <button type="button" role="presentation" class="owl-prev disabled">
                                    <i class="mdi mdi mdi-chevron-right"></i>
                                </button>
                                <button type="button" role="presentation" class="owl-next">
                                    <i class="mdi mdi mdi-chevron-left"> </i>
                                </button>
                            </div>
                            <div class="owl-dots disabled"></div>

                        </div>

                        <div class="d-flex justify-content-center flex-wrap">
                            <ul class="product-thumbnails owl-thumbs ml-2" data-slider-id="1">

                                @if (Model.ProductPirctures != null && Model.ProductPirctures.Any())
                                {
                                    foreach (var pic in Model.ProductPirctures)
                                    {
                                        <li class="owl-thumb-item active">
                                            @if (Model.ProductPirctures.First() == pic)
                                            {
                                                <a href="">
                                                    <img src="@FilePaths.ProductsPathThumb@pic" alt="Product">
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="">
                                                    <img src="@FilePaths.ProductsGalleryPathThumb@pic" alt="Product">
                                                </a>
                                            }
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8 col-md-6 py-2">
                    <div class="product-info dt-sl">

                        <!-- Product Title -->
                        <div class="product-title dt-sl mb-3">
                            <h1>
                                @Model.ProductName
                            </h1>
                            <h3>@Model.ShortDescription</h3>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">

                                <!-- Product Color -->
                                <div class="product-variant dt-sl">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                                        <h2>رنگ محصول:</h2>
                                    </div>
                                    <ul class="product-variants float-right ml-3">
                                        <li class="ui-variant">
                                            <label class="ui-variant ui-variant--color">
                                                <input type="radio" value="1" name="color" class="variant-selector" checked="">
                                                <span class="ui-variant--check">@Model.Color.ColorTitle</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Product Features -->
                                @if (Model.ShopProductFeatures != null && Model.ShopProductFeatures.Any())
                                {
                                    <div class="product-params dt-sl">
                                        <ul data-title="ویژگی‌های محصول">
                                            @foreach (var feature in Model.ShopProductFeatures.Take(3))
                                            {
                                                <li>
                                                    <span>@feature.FeatureTitle: </span>
                                                    <span> @feature.FeatureValue </span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                                <!-- Product Id -->
                                <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                    <h2>کد محصول:@Model.ProductId</h2>
                                </div>

                            </div>

                            <div class="col-lg-6">

                                <div class="product-guaranteed">
                                    <i class="fas fa-badge-check"></i>
                                    <p>بیش از ۴۳۰ نفر از خریداران این محصول را پیشنهاد داده‌اند</p>
                                </div>

                                <!-- Seller Informations -->
                                <div class="product-summary">
                                    <nav id="stack-menu" class="stack-menu">
                                        <ul class="stack-menu__list stack-menu__list--root stack-menu__list--active">

                                            <a asp-action="SellerDetail"
                                               asp-area=""
                                               asp-controller="ShopSeller"
                                               asp-route-sellerId="@Model.Seller.SellerUserId">

                                            <li class="stack-menu__item" data-id="0">

                                                <div class="product-seller-row-main">
                                                    <img src="/favicon.ico" alt="" style="height: 40px;">
                                                    <div class="product-seller-first-line">
                                                        فروشنده:
                                                        <span class="product-seller-name">@Model.Seller.Username</span>
                                                    </div>
                                                    <div class="product-seller-second-line">
                                                        عملکرد:
                                                        <span class="font-weight-bold">۵</span>
                                                        از ۵
                                                        <span>
                                                            <span class="u-divider"></span>
                                                            <span class="font-weight-bold">۸۶.۶٪</span>
                                                            رضایت از کالا
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            </a>

                                            <li class="stack-menu__item" data-id="1">
                                                <a class="stack-menu__link">
                                                    <i class="far fa-shield-check"></i>
                                                    گارانتی ۱۸ ماهه دیدیکالا
                                                </a>
                                            </li>
                                            <li class="stack-menu__item" data-id="2">
                                                <a href="#" class="stack-menu__link stack-menu__link--parent">
                                                    <i class="far fa-box-check product-delivery-warehouse"></i>
                                                    موجود در انبار دیدیکالا
                                                </a>
                                                <ul class="product-seller-box--shadowed stack-menu__list">
                                                    <li class="stack-menu__item"><a class="stack-menu__link stack-menu__link--back" href="#">&nbsp;</a></li>
                                                    <div class="product-info-box-body-wrapper">
                                                        <div class="product-info-box-body">
                                                            <div class="shipment-info-box-row">
                                                                <div class="font-weight-bold">
                                                                    <span>
                                                                        آماده ارسال
                                                                    </span>
                                                                </div>
                                                                <div class="u-text-spaced">
                                                                    این کالا در انبار دیدیکالا موجود و آماده
                                                                    پردازش است.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </li>
                                        </ul>

                                        <div class="product-seller-row product-seller-row--price">
                                      @*       <div class="product-seller-price-info">
                                                <div class="product-seller-price-prev">
                                                    4,900,000
                                                </div>
                                                <div class="product-seller-price-off">
                                                    5٪
                                                </div>
                                            </div> *@
                                            <div class="product-seller-price-real">
                                                <div class="product-seller-price-raw">@Model.Price.ToString("#,000") </div>
                                                ریال
                                            </div>@* 
                                            <div class="product-additional-item product-additional-item--no-icon">
                                                <span>321,600</span>&nbsp; تومان تخفیف سازمانی کسر گردیده است.
                                            </div> *@
                                        </div>
                                        <div class="product-seller-row product-seller-row--add-to-cart">
                                            <a asp-action="AddToShopCart"
                                               asp-area=""
                                               asp-controller="Order"
                                               asp-route-productId="@Model.ProductId"
                                            class="btn-add-to-cart btn-add-to-cart--full-width stack-menu__link">
                                                <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>@*
            <div class="mb-add-to-cart-btn-wrapper">
            <a href="#" class="mb-add-to-cart-btn">افزودن به سبد خرید</a>
            </div>
            </div> *@

            <div class="dt-sn mb-5 px-0 dt-sl pt-0">

                <!-- Start tabs -->
                <section class="tabs-product-info mb-3 dt-sl">

                    <div class="ah-tab-wrapper border-bottom dt-sl">
                        <div class="ah-tab dt-sl">
                            <a class="ah-tab-item" data-ah-tab-active="true" style="transform: translateX(0px);"><i class="mdi mdi-glasses"></i>توضیحات محصول</a>
                            <a class="ah-tab-item" style="transform: translateX(0px);"><i class="mdi mdi-format-list-checks"></i>مشخصات</a>
                            <a class="ah-tab-item" style="transform: translateX(0px);"><i class="mdi mdi-comment-text-multiple-outline"></i>نظرات کاربران</a>
                            <a class="ah-tab-item" style="transform: translateX(0px);">
                                <i class="mdi mdi-comment-question-outline"></i>پرسش و
                                پاسخ
                            </a>
                        </div>
                    </div>

                    <div class="ah-tab-content-wrapper product-info px-4 dt-sl">
                        <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>توضیحات محصول</h2>
                            </div>

                            <div class="description-product dt-sl mt-3 mb-3">
                                <div class="container">
                                    @Html.Raw(Model.LongDescription)
                                </div>
                            </div>
                        </div>

                        <div class="ah-tab-content params dt-sl">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>مشخصات فنی</h2>
                            </div>
                            <section>
                                <h3 class="params-title">مشخصات کلی</h3>
                                <ul class="params-list">
                                    <li>
                                        @if (Model.ShopProductFeatures != null && Model.ShopProductFeatures.Any())
                                        {
                                            foreach (var feature in Model.ShopProductFeatures)
                                            {
                                                <div class="params-list-key">
                                                    <span class="d-block">@feature.FeatureTitle</span>
                                                </div>

                                                <div class="params-list-value">
                                                    <span class="d-block">
                                                        @feature.FeatureValue
                                                    </span>
                                                </div>
                                            }
                                        }

                                    </li>

                                </ul>
                            </section>

                        </div>

                        <div class="ah-tab-content comments-tab dt-sl">
                            <div class="section-title title-wide no-after-title-wide mb-0 dt-sl">
                                <h2>امتیاز کاربران به:</h2>
                            </div>
                            <div class="product-title dt-sl mb-3">
                                <h1>
                                    گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 128گیگابایت
                                </h1>
                                <h3>Samsung Galaxy A50 SM-A505F/DS Dual SIM 128GB Mobile Phone<span class="rate-product">(4 از 5 | 15 نفر)</span></h3>
                            </div>
                            <div class="dt-sl">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <ul class="content-expert-rating">
                                            <li>
                                                <div class="cell">طراحی</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 70%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">ارزش خرید</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 20%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">کیفیت ساخت</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">صدای مزاحم</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">مصرف انرژی و آب</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cell">امکانات و قابلیت ها</div>
                                                <div class="cell">
                                                    <div class="rating rating--general" data-rate-digit="عالی">
                                                        <div class="rating-rate" data-rate-value="100%" style="width: 100%;"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="comments-summary-note">
                                            <span>
                                                شما هم می‌توانید در مورد این کالا نظر
                                                بدهید.
                                            </span>
                                            <p>
                                                برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود
                                                شوید. اگر این محصول را قبلا از دیجی‌کالا خریده
                                                باشید، نظر
                                                شما به عنوان مالک محصول ثبت خواهد شد.
                                            </p>
                                            <div class="dt-sl mt-2">
                                                <a href="#" class="btn-primary-cm btn-with-icon">
                                                    <i class="mdi mdi-comment-text-outline"></i>
                                                    افزودن نظر جدید
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comments-area dt-sl">
                                    <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                        <h2>نظرات کاربران</h2>
                                        <p class="count-comment">123 نظر</p>
                                    </div>
                                    <ol class="comment-list">
                                        <!-- #comment-## -->
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="message-light message-light--purchased">
                                                            خریدار این محصول
                                                        </div>
                                                        <ul class="comments-user-shopping">
                                                            <li>
                                                                <div class="cell">
                                                                    رنگ خریداری
                                                                    شده:
                                                                </div>
                                                                <div class="cell color-cell">
                                                                    <span class="shopping-color-value" style="background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.25)"></span>سفید
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="cell">
                                                                    خریداری شده
                                                                    از:
                                                                </div>
                                                                <div class="cell seller-cell">
                                                                    <span class="o-text-blue">دیجی‌کالا</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="message-light message-light--opinion-positive">
                                                            خرید این محصول را توصیه می‌کنم
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            لباسشویی سامسونگ
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                                        </div>

                                                        <p>لورم ایپسوم متن ساختگی</p>

                                                        <div class="footer">
                                                            <div class="comments-likes">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱۱">
                                                                    بله
                                                                </button>
                                                                <button class="btn-like" data-counter="۶">
                                                                    خیر
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="message-light message-light--purchased">
                                                            خریدار این محصول
                                                        </div>
                                                        <ul class="comments-user-shopping">
                                                            <li>
                                                                <div class="cell">
                                                                    رنگ خریداری
                                                                    شده:
                                                                </div>
                                                                <div class="cell color-cell">
                                                                    <span class="shopping-color-value" style="background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.25)"></span>سفید
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="cell">
                                                                    خریداری شده
                                                                    از:
                                                                </div>
                                                                <div class="cell seller-cell">
                                                                    <span class="o-text-blue">دیجی‌کالا</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="message-light message-light--opinion-positive">
                                                            خرید این محصول را توصیه می‌کنم
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            لباسشویی سامسونگ
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 col-12">
                                                                <div class="content-expert-evaluation-positive">
                                                                    <span>نقاط قوت</span>
                                                                    <ul>
                                                                        <li>
                                                                            دوربین‌های 4گانه پرقدرت
                                                                        </li>
                                                                        <li>باتری باظرفیت بالا</li>
                                                                        <li>
                                                                            حسگر اثرانگشت زیر قاب
                                                                            جلویی
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-6 col-12">
                                                                <div class="content-expert-evaluation-negative">
                                                                    <span>نقاط ضعف</span>
                                                                    <ul>
                                                                        <li>نرم‌افزار دوربین</li>
                                                                        <li>
                                                                            نبودن Nano SD در بازار
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            بعد از چندین هفته بررسی تصمیم به خرید
                                                            این مدل از ماشین لباسشویی گرفتم ولی
                                                            متاسفانه نتونست انتظارات منو برآورده کنه
                                                            .
                                                            دو تا ایراد داره یکی اینکه حدودا تا 20
                                                            دقیقه اول شستشو یه صدایی شبیه به صدای
                                                            پمپ تخلیه همش به گوش میاد که رو مخه یکی
                                                            هم با اینکه خشک کنش تا 1400 دور در دقیقه
                                                            میچرخه، ولی اون طوری که دوستان تعریف
                                                            میکردن لباسها رو خشک نمیکنه .ضمنا برای
                                                            این صدایی که گفتم زنگ زدم نمایندگی اومدن
                                                            دیدن، وتعمیرکار گفتش که این صدا طبیعیه و
                                                            تا چند دقیقه اول شستشو عادیه.بدجوری خورد
                                                            تو ذوقم. اگه بیشتر پول میذاشتم میتونستم
                                                            یه مدل میان رده از مارکهای بوش یا آ ا گ
                                                            میخریدم که خیلی بهتر از جنس مونتاژی کره
                                                            ای هستش.
                                                        </p>

                                                        <div class="footer">
                                                            <div class="comments-likes">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱۱">
                                                                    بله
                                                                </button>
                                                                <button class="btn-like" data-counter="۶">
                                                                    خیر
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="message-light message-light--purchased">
                                                            خریدار این محصول
                                                        </div>
                                                        <ul class="comments-user-shopping">
                                                            <li>
                                                                <div class="cell">
                                                                    رنگ خریداری
                                                                    شده:
                                                                </div>
                                                                <div class="cell color-cell">
                                                                    <span class="shopping-color-value" style="background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.25)"></span>سفید
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="cell">
                                                                    خریداری شده
                                                                    از:
                                                                </div>
                                                                <div class="cell seller-cell">
                                                                    <span class="o-text-blue">دیجی‌کالا</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="message-light message-light--opinion-positive">
                                                            خرید این محصول را توصیه می‌کنم
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            لباسشویی سامسونگ
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                                        </div>

                                                        <p>لورم ایپسوم متن ساختگی</p>

                                                        <div class="footer">
                                                            <div class="comments-likes">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱۱">
                                                                    بله
                                                                </button>
                                                                <button class="btn-like" data-counter="۶">
                                                                    خیر
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="message-light message-light--purchased">
                                                            خریدار این محصول
                                                        </div>
                                                        <ul class="comments-user-shopping">
                                                            <li>
                                                                <div class="cell">
                                                                    رنگ خریداری
                                                                    شده:
                                                                </div>
                                                                <div class="cell color-cell">
                                                                    <span class="shopping-color-value" style="background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.25)"></span>سفید
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="cell">
                                                                    خریداری شده
                                                                    از:
                                                                </div>
                                                                <div class="cell seller-cell">
                                                                    <span class="o-text-blue">دیجی‌کالا</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="message-light message-light--opinion-positive">
                                                            خرید این محصول را توصیه می‌کنم
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            لباسشویی سامسونگ
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                                        </div>

                                                        <p>لورم ایپسوم متن ساختگی</p>

                                                        <div class="footer">
                                                            <div class="comments-likes">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱۱">
                                                                    بله
                                                                </button>
                                                                <button class="btn-like" data-counter="۶">
                                                                    خیر
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12">
                                                        <div class="message-light message-light--purchased">
                                                            خریدار این محصول
                                                        </div>
                                                        <ul class="comments-user-shopping">
                                                            <li>
                                                                <div class="cell">
                                                                    رنگ خریداری
                                                                    شده:
                                                                </div>
                                                                <div class="cell color-cell">
                                                                    <span class="shopping-color-value" style="background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.25)"></span>سفید
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="cell">
                                                                    خریداری شده
                                                                    از:
                                                                </div>
                                                                <div class="cell seller-cell">
                                                                    <span class="o-text-blue">دیجی‌کالا</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="message-light message-light--opinion-positive">
                                                            خرید این محصول را توصیه می‌کنم
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            لباسشویی سامسونگ
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                                        </div>

                                                        <p>لورم ایپسوم متن ساختگی</p>

                                                        <div class="footer">
                                                            <div class="comments-likes">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱۱">
                                                                    بله
                                                                </button>
                                                                <button class="btn-like" data-counter="۶">
                                                                    خیر
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="ah-tab-content dt-sl">
                            <div class="section-title title-wide no-after-title-wide dt-sl">
                                <h2>پرسش و پاسخ</h2>
                                <p class="count-comment">پرسش خود را در مورد محصول مطرح نمایید</p>
                            </div>
                            <div class="form-question-answer dt-sl mb-3">
                                <form action="">
                                    <textarea class="form-control mb-3" rows="5"></textarea>
                                    <button class="btn btn-dark float-right ml-3" disabled="">ثبت پرسش</button>
                                    <div class="custom-control custom-checkbox float-right mt-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">
                                            اولین پاسخی که به
                                            پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="comments-area default">
                                <div class="section-title text-sm-title title-wide no-after-title-wide mt-5 mb-0 dt-sl">
                                    <h2>پرسش ها و پاسخ ها</h2>
                                    <p class="count-comment">123 پرسش</p>
                                </div>
                                <ol class="comment-list">
                                    <!-- #comment-## -->
                                    <li>
                                        <div class="comment-body">
                                            <div class="comment-author">
                                                <span class="icon-comment">?</span>
                                                <cite class="fn">حسن</cite>
                                                <span class="says">گفت:</span>
                                                <div class="commentmetadata">
                                                    <a href="#">
                                                        اسفند ۲۰, ۱۳۹۶ در ۹:۴۱ ب.ظ
                                                    </a>
                                                </div>
                                            </div>



                                            <p>لورم ایپسوم متن ساختگی</p>

                                            <div class="reply"><a class="comment-reply-link" href="#">پاسخ</a></div>
                                        </div>
                                    </li>
                                    <!-- #comment-## -->
                                    <li>
                                        <div class="comment-body">
                                            <div class="comment-author">
                                                <span class="icon-comment">?</span>
                                                <cite class="fn">رضا</cite>
                                                <span class="says">گفت:</span>
                                                <div class="commentmetadata">
                                                    <a href="#">
                                                        اسفند ۲۰, ۱۳۹۶ در ۹:۴۲ ب.ظ
                                                    </a>
                                                </div>
                                            </div>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            </p>

                                            <div class="reply"><a class="comment-reply-link" href="#">پاسخ</a></div>
                                        </div>
                                        <ol class="children">
                                            <li>
                                                <div class="comment-body">
                                                    <div class="comment-author">
                                                        <span class="icon-comment mdi mdi-lightbulb-on-outline"></span>
                                                        <cite class="fn">بهرامی راد</cite> <span class="says">گفت:</span>
                                                        <div class="commentmetadata">
                                                            <a href="#">
                                                                اسفند ۲۰, ۱۳۹۶ در ۹:۴۷ ب.ظ
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        لورم ایپسوم متن ساختگی با تولید سادگی
                                                        نامفهوم از صنعت چاپ و با استفاده از
                                                        طراحان گرافیک است.
                                                        چاپگرها و متون بلکه روزنامه و مجله در
                                                        ستون و سطرآنچنان که لازم است و برای
                                                        شرایط فعلی تکنولوژی
                                                        مورد نیاز و کاربردهای متنوع با هدف بهبود
                                                        ابزارهای کاربردی می باشد.
                                                    </p>

                                                    <div class="reply"><a class="comment-reply-link" href="#">پاسخ</a></div>
                                                </div>
                                                <ol class="children">
                                                    <li>
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                                <span class="icon-comment">?</span>
                                                                <cite class="fn">محمد</cite>
                                                                <span class="says">گفت:</span>
                                                                <div class="commentmetadata">
                                                                    <a href="#">
                                                                        خرداد ۳۰, ۱۳۹۷ در ۸:۵۳ ق.ظ
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <p>عالیه</p>

                                                            <div class="reply"><a class="comment-reply-link" href="#">پاسخ</a></div>
                                                        </div>
                                                        <ol class="children">
                                                            <li>
                                                                <div class="comment-body">
                                                                    <div class="comment-author">
                                                                        <span class="icon-comment mdi mdi-lightbulb-on-outline"></span>
                                                                        <cite class="fn">اشکان</cite>
                                                                        <span class="says">گفت:</span>
                                                                        <div class="commentmetadata">
                                                                            <a href="#">
                                                                                خرداد ۳۰, ۱۳۹۷ در ۸:۵۳ ق.ظ
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <p>
                                                                        لورم ایپسوم متن ساختگی با
                                                                        تولید سادگی نامفهوم از
                                                                        صنعت چاپ و با استفاده از
                                                                        طراحان
                                                                        گرافیک است. چاپگرها و
                                                                        متون بلکه روزنامه و مجله
                                                                        در ستون و سطرآنچنان که
                                                                        لازم است و
                                                                        برای شرایط فعلی تکنولوژی
                                                                        مورد نیاز و کاربردهای
                                                                        متنوع با هدف بهبود
                                                                        ابزارهای
                                                                        کاربردی می باشد.
                                                                    </p>

                                                                    <div class="reply">
                                                                        <a class="comment-reply-link" href="#">پاسخ</a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- #comment-## -->
                                                        </ol>
                                                        <!-- .children -->
                                                    </li>
                                                    <!-- #comment-## -->
                                                </ol>
                                                <!-- .children -->
                                            </li>
                                            <!-- #comment-## -->
                                        </ol>
                                        <!-- .children -->
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End tabs -->
            </div>

            @*Lastest Shop Products*@
            @await Component.InvokeAsync("LastestShopProducts")

        </div>
</main>