@using Window.Application.Extensions
@using Window.Application.Convertors
@model Window.Domain.ViewModels.Site.Inquiry.FilterInquiryViewModel
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "استعلام گیری";
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;

    var brand = ViewBag.Brand != null ? ViewBag.Brand as List<SelectListViewModel> : null;

    var Sample = ViewBag.Sample != null ? ViewBag.Sample as List<Window.Domain.Entities.Sample.Sample> : null;

    Window.Domain.ViewModels.Site.Inquiry.SampleSizeViewModel sampleSize = new Window.Domain.ViewModels.Site.Inquiry.SampleSizeViewModel();
}

@section Styles
{

}

@section Scripts
{

<script>

      $("#ProductKind").change(function () {
          $('form#filter-search').submit();
      });

        $("#ProductType").change(function () {
          $('form#filter-search').submit();
      });

        $("#CountryId").change(function () {
        if ($("#CountryId :selected").val() !== '') {
            $('#CityId option:not(:first)').remove();
            $('#StateId option:not(:first)').remove();
            $.get("/Home/LoadCities", { stateId: $("#CountryId :selected").val() }).then(res => {
                if (res.data !== null) {
                    $.each(res.data, function () {
                        $("#StateId").append(
                            '<option value=' + this.id + '>' + this.title + '</option>'
                        );
                    });
                    $("#StateId").removeAttr("disabled");
                }
            });
        } else {
            $('#StateId option:not(:first)').remove();
            $('#CityId option:not(:first)').remove();
        }
    });

    $("#StateId").change(function () {
        if ($("#StateId :selected").val() !== '') {
            $('#CityId option:not(:first)').remove();
            $.get("/Home/LoadCities", { stateId: $("#StateId :selected").val() }).then(res => {
                if (res.data !== null) {
                    $.each(res.data, function () {
                        $("#CityId").append(
                            '<option value=' + this.id + '>' + this.title + '</option>'
                        );
                    });
                                        $("#CityId").removeAttr("disabled");
                }
            });
        } else {
            $('#CityId option:not(:first)').remove();
        }
    });

</script>

}


<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> فیلتر استعلام گیری  </span>
            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="Index" asp-controller="Home" asp-area="" id="filter-search" method="get">

                        <div class="form-group">
                            <label asp-for="CountryId"></label>
                            <select class="form-control" asp-for="CountryId">
                                <option value=""> لطفا یک کشور را انتخاب کنید </option>
                                @if (countries != null && countries.Any())
                                {
                                    foreach (var country in countries)
                                    {
                                        if (Model != null && Model.CountryId == country.Id)
                                        {
                                            <option value="@country.Id" selected="selected"> @country.Title </option>
                                        }
                                        else
                                        {
                                            <option value="@country.Id"> @country.Title </option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="StateId"></label>
                            <select class="form-control" asp-for="StateId">
                                <option value=""> لطفا یک استان را انتخاب کنید </option>
                                @if (states != null && states.Any())
                                {
                                    foreach (var state in states)
                                    {
                                        if (Model != null && Model.StateId == state.Id)
                                        {
                                            <option value="@state.Id" selected="selected"> @state.Title </option>
                                        }
                                        else
                                        {
                                            <option value="@state.Id"> @state.Title </option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="CityId"></label>
                            <select asp-for="CityId" class="form-control">
                                <option value=""> لطفا یک شهر را انتخاب کنید </option>
                                @if (cities != null && cities.Any())
                                {
                                    foreach (var city in cities)
                                    {
                                        if (Model != null && Model.CityId == city.Id)
                                        {
                                            <option value="@city.Id" selected="selected"> @city.Title </option>
                                        }
                                        else
                                        {
                                            <option value="@city.Id"> @city.Title </option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="MainBrandId">برند</label>
                            <select asp-for="MainBrandId" class="form-control">
                                @if (brand != null && brand.Any())
                                {
                                    foreach (var brands in brand)
                                    {
                                        <option value="@brands.Id"> @brands.Title </option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="SellerType"> وضعیت </label>
                            <select asp-for="SellerType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Window.Domain.Enums.SellerType.SellerType))">
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProductKind"> وضعیت </label>
                            <select asp-for="ProductKind" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Window.Domain.Enums.Types.ProductKind))">
                                <option value=""> لطفا وضعیت را انتخاب کنید </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProductType"> وضعیت </label>
                            <select asp-for="ProductType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Window.Domain.Enums.Types.ProductType))">
                                <option value=""> لطفا وضعیت را انتخاب کنید </option>
                            </select>
                        </div>

                        @*    <div class="form-group">
                            <label asp-for="SamplesId">نمونه</label>
                            <select class="form-control" asp-for="SamplesId">
                            <option value=""> لطفا نمونه را انتخاب کنید </option>
                            @if (Sample != null && Sample.Any())
                            {
                            foreach (var samp in Sample)
                            {
                            if (Model != null && Model.SamplesId != null && Model.SamplesId.Any())
                            {
                            if (Model.SamplesId.Contains(samp.Id))
                            {
                            <option value="@samp.Id" selected="selected"> @samp.Title </option>
                            }
                            }
                            else
                            {
                            <option value="@samp.Id"> @samp.Title </option>
                            }
                            }
                            }
                            </select>
                            </div>*@

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>اعمال فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-labeled w-100 btn-darkorange mr-10px">
                                        <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                    </a>
                                }

                                  <a asp-action="Inquiry" asp-controller="Home" asp-area="" class="btn btn-labeled w-100 btn-blue">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>استعلام گیری 
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>لیست </span>
                </div>
            </div>

            @if (Sample != null && Sample.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                نام نمونه
                            </th>
                            <th class="tc vm">
                                لوگوی نمونه
                            </th>
                            <th class="tc vm">
                                عرض
                            </th>
                            <th class="tc vm">
                                ارتفاع
                            </th>
                            <th class="tc vm">
                                ثبت
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var product in Sample)
                        {
                            <form asp-action="GetSampleSize" asp-controller="Home" asp-area="" id="" method="get">
                                <input type="hidden" value="@product.Id" name="SampleId" />

                            <tr class="tc vm" remove-ajax-item="">

                                <td class="vm">
                                    <div class="flex-style-center">
                                        <img src="@Window.Application.StticTools.FilePaths.SampleThumbimage/@product.Image" class="avatar-style" style="border-radius:50px;" />
                                    </div>
                                </td>
                                <td class="tc vm" style="max-width: 200px">
                                        @product.SegmentName
                                </td>
                                <td class="tc vm">
                                    <input type="text" name="Width" />
                                </td>
                                <td class="tc vm">
                                    <input type="text" name="Height" />
                                </td>
                                <td class="tc vm">
                                    <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                        ثبت
                                    </button>
                                </td>
                            </tr>

                            </form>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>

