@model List<Window.Domain.ViewModels.Site.Shop.Landing.ShopCategoriesDTO>



<ul class="list hidden-sm">

    <li class="list-item category-list">
        <a href="#"><i class="fal fa-bars ml-1"></i>دسته بندی کالاها</a>
        <ul>

            @if (Model != null && Model.Any())
            {
                foreach (var firstCategories in Model.Where(p => !p.ParentId.HasValue).OrderBy(p => p.Priority))
                {
                    <li>
                        <a href="#">@firstCategories.ShopCategoryTitle</a>

                        <ul class="row">

                            @if (Model.Where(s => s.ParentId.HasValue && s.ParentId == firstCategories.ShopCategoryId) != null &&
                           Model.Where(s => s.ParentId.HasValue && s.ParentId == firstCategories.ShopCategoryId).Any())
                            {
                                foreach (var secondCategories in Model.Where(s => s.ParentId.HasValue && s.ParentId == firstCategories.ShopCategoryId).OrderBy(p => p.Priority))
                                {
                                    <li class="sublist--title"><a href="#">@secondCategories.ShopCategoryTitle</a></li>

                                    @if (Model.Where(t => t.ParentId.HasValue && t.ParentId == secondCategories.ShopCategoryId) != null &&
                                   Model.Where(t => t.ParentId.HasValue && t.ParentId == secondCategories.ShopCategoryId).Any())
                                    {
                                        foreach (var thirdCategories in Model.Where(t => t.ParentId.HasValue && t.ParentId == secondCategories.ShopCategoryId).OrderBy(p => p.Priority))
                                        {
                                            <li class="sublist--item">
                                                <a asp-action="FilterProducts"
                                                   asp-area=""
                                                   asp-controller="ShopProduct"
                                                   asp-route-shopCategories="@thirdCategories.ShopCategoryId">@thirdCategories.ShopCategoryTitle</a>
                                            </li>
                                        }

                                        <li class="sublist--item">
                                            <a asp-action="FilterProducts"
                                               asp-area=""
                                               asp-controller="ShopProduct"
                                               asp-route-shopCategories="@secondCategories.ShopCategoryId">
                                                سایر @secondCategories.ShopCategoryTitle ...
                                            </a>
                                        </li>
                                    }

                                }

                            }

                        </ul>

                    </li>

                }
            }
        </ul>
    </li>


    <li class="list-item list-item-has-children mega-menu mega-menu-col-3">
        <a class="nav-link" href="#">دسته بندی اول</a>
        <ul class="sub-menu nav">

            <li class="list-item list-item-has-children" style="width: 100% !important;">
                <a class="nav-link" href="#">دسته بندی دوم</a>
                <ul class="sub-menu nav">

                    <li class="list-item">
                        <a class="nav-link" href="#">دسته بندی سوم</a>
                    </li>

                    <li class="list-item">
                        <a class="nav-link" href="#">دسته بندی سوم</a>
                    </li>

                </ul>
            </li>


        </ul>
    </li>

</ul>
