
<div class="page-sidebar" id="sidebar">
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
    </div>

    <ul class="nav sidebar-menu">

        <li>
            <a asp-action="Index" asp-area="Admin" asp-controller="Home">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> @SharedLocalizer["داشبورد"]  </span>
            </a>
        </li>


        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user-secret"></i>
                <span class="menu-text"> مدیریت نقش ها</span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterRoles" asp-controller="Access" asp-area="Admin">
                        <span class="menu-text"> لیست نقش ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateRole" asp-controller="Access" asp-area="Admin">
                        <span class="menu-text"> ایجاد نقش جدید </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> @SharedLocalizer["مدیریت کاربران"] </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="User" asp-action="Index">
                        <span class="menu-text">@SharedLocalizer["لیست کاربران"]</span>
                    </a>
                </li>

                <li>
                    <a asp-action="AddNewUser" asp-controller="User">
                        <span class="menu-text">@SharedLocalizer["افزودن کاربر جدید"]</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> مدیریت اطلاعات فروشندگان </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="SellerPersonalInfo" asp-action="ListOfSellersPersonalInfos">
                        <span class="menu-text">لیست اطلاعات فروشندگان</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> مدیریت استعلامات </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="LogForVisitSellerProfile" asp-action="FilterLogForVisitSellerProfile">
                        <span class="menu-text">لیست بازدید فروشندگان</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-book"></i>
                <span class="menu-text"> مدیریت بلاگ ها  </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Article" asp-action="Index" asp-area="Admin">
                        <span class="menu-text">لیست بلاگ ها</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-book"></i>
                <span class="menu-text"> مدیریت سوال و جواب ها  </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-controller="Question" asp-action="Index" asp-area="Admin">
                        <span class="menu-text">لیست سوال و جواب ها</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-tag"></i>
                <span class="menu-text"> مدیریت نمونه ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterSample" asp-controller="Sample" asp-area="Admin">
                        <span class="menu-text"> لیست نمونه ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateSample" asp-controller="Sample" asp-area="Admin">
                        <span class="menu-text"> ایجاد نمونه </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-tag"></i>
                <span class="menu-text"> مدیریت قطعه ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterSegment" asp-controller="Segment" asp-area="Admin">
                        <span class="menu-text"> لیست قطعه ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateSegment" asp-controller="Segment" asp-area="Admin">
                        <span class="menu-text"> ایجاد قطعه </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-tag"></i>
                <span class="menu-text"> مدیریت شیشه ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterGlasses" asp-controller="Segment" asp-area="Admin">
                        <span class="menu-text"> لیست شیشه ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateGlass" asp-controller="Segment" asp-area="Admin">
                        <span class="menu-text"> ایجاد شیشه </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-th"></i>
                <span class="menu-text"> مدیریت برندهای  </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterMainBrand" asp-controller="Brand" asp-area="Admin">
                        <span class="menu-text"> لیست برندهای  </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateMainBrand" asp-controller="Brand" asp-area="Admin">
                        <span class="menu-text"> یجاد برند جدید </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-map-marker"></i>
                <span class="menu-text"> مدیریت مکان ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterState" asp-controller="State" asp-area="Admin">
                        <span class="menu-text"> لیست مکان ها </span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateState" asp-controller="State" asp-area="Admin">
                        <span class="menu-text"> ایجاد مکان جدید </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a asp-controller="Wallet" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-usd"></i>
                <span class="menu-text"> @SharedLocalizer["لیست تراکنش ها"]  </span>

                <i class="menu-expand"></i>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-ticket"></i>
                <span class="menu-text"> @SharedLocalizer["مدیریت تیکت ها"] </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-action="FilterTickets" asp-controller="Ticket" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["لیست تیکت ها"] </span>
                    </a>
                </li>

                <li>
                    <a asp-action="CreateTicket" asp-controller="Ticket" asp-area="Admin">
                        <span class="menu-text"> @SharedLocalizer["افزودن تیکت"]</span>
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a asp-controller="SiteSetting" asp-action="AddOrEditSiteSetting">
                <i class="menu-icon glyphicon glyphicon-wrench"></i>
                <span class="menu-text"> تنظیمات سایت  </span>

                <i class="menu-expand"></i>
            </a>
        </li>

    </ul>
</div>
