@model List<Window.Domain.Entities.BulkSMS.BulkSMS>

@using Window.Application.Convertors
@using Window.Application.Extensions

@{
    ViewData["Title"] = "لیست پیامک های ارسالی یرای خریداران";
}

@section breadcrumb
    {

    <li class="active">@ViewData["Title"]</li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

    }

<div class="page-body">

    <div class="row text-center mb-3">
        <a asp-action="UploadExcelFileForCustomers" asp-area="Admin" asp-controller="BulkSMS" class="exlStyle btn btn-primary">ارسال پیامک جدید  </a>
    </div>

    <div class="row">

        <div id="horizontal-form">

            @if (Model != null && Model.Any())
            {

                <div class="widget-body no-padding">
                    <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                        <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                            <thead class="bordered-darkorange">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">شماره موبایل </th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending">نام و نام خانوادگی </th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Platform: activate to sort column ascending">تاریخ ارسال پیامک </th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var seller in Model)
                                {
                                    <tr role="row" class="even responsive" remove-ajax-item="@seller.Id">

                                        <td class="center ">

                                            @seller.Mobile

                                        </td>

                                        <td class="center ">

                                            @seller.Username

                                        </td>

                                        <td class="sorting_1">
                                            @seller.CreateDate.ToShamsi()
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }

        </div>
    </div>

</div>


