@using Window.Application.Convertors
@using Window.Application.StticTools
@model Window.Domain.ViewModels.Site.Shop.Landing.ShopLandingDTO

@{
    ViewData["Title"] = "فروشگاه پنجره یاب";
    Layout = "_ShopLayout";
}

<!-- Start main-content -->
<main class="main-content dt-sl mb-3">

    <div class="container main-container">
        <!-- Start Main-Slider -->
        <div class="row mb-5">
            <aside class="sidebar col-lg-4 hidden-md order-2 pr-0 hidden-md">
                <!-- Start banner -->
                <div class="sidebar-inner dt-sl">
                    <div class="sidebar-banner">
                        <div class="row">
                            <div class="col-12 mb-1">
                                <div class="widget-banner">
                                    <a href="#">
                                        <img src="/DidiKala/assets/img/banner/banner-side-slider-1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="widget-banner">
                                    <a href="#">
                                        <img src="/DidiKala/assets/img/banner/banner-side-slider-2.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End banner -->
            </aside>
            <div class="col-lg-8 col-md-12 order-1">
                <!-- Start main-slider -->
                <section id="main-slider"
                         class="main-slider main-slider-cs mt-1 carousel slide carousel-fade card hidden-sm"
                         data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slider" data-slide-to="1"></li>
                        <li data-target="#main-slider" data-slide-to="2"></li>
                        <li data-target="#main-slider" data-slide-to="3"></li>
                        <li data-target="#main-slider" data-slide-to="4"></li>
                        <li data-target="#main-slider" data-slide-to="5"></li>
                        <li data-target="#main-slider" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <section id="main-slider-res"
                         class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-slider-res" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slider-res" data-slide-to="1"></li>
                        <li data-target="#main-slider-res" data-slide-to="2"></li>
                        <li data-target="#main-slider-res" data-slide-to="3"></li>
                        <li data-target="#main-slider-res" data-slide-to="4"></li>
                        <li data-target="#main-slider-res" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/1.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/2.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/3.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/4.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/5.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/6.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <!-- End main-slider -->
            </div>
        </div>
        <!-- End Main-Slider -->
    </div>

    <!-- Lastest Products -->
    <partial name="_LastestProducts" model="@Model.LastestShopProducts">

        <!-- End Product-Slider -->
        <div class="container main-container">
            <!-- Start Product-Slider -->
            <div class="row">
                <div class="col-xl-10 col-lg-12">
                    <section class="slider-section dt-sl mb-5">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide no-after-title-wide">
                                    <h2>پر فروش ترینها</h2>
                                    <a href="#">مشاهده همه</a>
                                </div>
                            </div>

                            <!-- Start Product-Slider -->
                            <div class="col-12 px-res-0">
                                <div class="product-carousel carousel-md owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                </div>
                                                <div class="discount">
                                                    <span>20%</span>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/07.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">مانتو زنانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                <span class="product-price">157,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/017.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">کت مردانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                                <span class="product-price">199,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/013.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">مانتو زنانه مدل هودی تیک تین</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                <span class="product-price">135,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/09.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">مانتو زنانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                <span class="product-price">145,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/010.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">مانتو زنانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                <span class="product-price">170,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </div>
                                                <div class="discount">
                                                    <span>20%</span>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/011.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">مانتو زنانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                                <span class="product-price">185,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-card">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="shop-single.html">
                                                <img src="/DidiKala/assets/img/products/019.jpg" alt="Product Thumbnail">
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html">تیشرت مردانه</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                                <span class="product-price">54,000 تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product-Slider -->

                        </div>
                    </section>
                </div>
                <div class="col-xl-2 col-lg-3 hidden-lg pr-0">
                    <div class="widget-suggestion dt-sn border pt-3 mt-3">
                        <div class="widget-suggestion-title">
                            <img src="/DidiKala/assets/img/theme/suggestion-title.png" alt="">
                        </div>
                        <div id="progressBar">
                            <div class="slide-progress"></div>
                        </div>
                        <div id="suggestion-slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="product-card mb-3 shadow-unset">
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                        </div>
                                        <div class="discount">
                                            <span>20%</span>
                                        </div>
                                    </div>
                                    <a class="product-thumb" href="shop-single.html">
                                        <img src="/DidiKala/assets/img/products/07.jpg" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="shop-single.html">مانتو زنانه</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                        <span class="product-price">157,000 تومان</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product-card mb-3 shadow-unset">
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                        </div>
                                    </div>
                                    <a class="product-thumb" href="shop-single.html">
                                        <img src="/DidiKala/assets/img/products/017.jpg" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="shop-single.html">کت مردانه</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                        <span class="product-price">199,000 تومان</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product-card mb-3 shadow-unset">
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star"></i>
                                        </div>
                                    </div>
                                    <a class="product-thumb" href="shop-single.html">
                                        <img src="/DidiKala/assets/img/products/013.jpg" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="shop-single.html">مانتو زنانه مدل هودی تیک تین</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                        <span class="product-price">135,000 تومان</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product-card mb-3 shadow-unset">
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star"></i>
                                        </div>
                                    </div>
                                    <a class="product-thumb" href="shop-single.html">
                                        <img src="/DidiKala/assets/img/products/09.jpg" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="shop-single.html">مانتو زنانه</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                        <span class="product-price">145,000 تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product-Slider -->

        </div>

        <!-- Lastest Sellers -->
        <partial name="_LastestSellers" model="@Model.LastestSellers">

            <!-- End Product-Slider -->
            <div class="container main-container">
    
                @if (Model.LastestBrands != null && Model.LastestBrands.Any())
                {
                    <!-- Start Feature-Product -->
                    <section class="dt-sl dt-sn mb-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide no-after-title-wide">
                                    <h2>برندهای پیشنهادی ما</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">

                            @foreach (var brand in Model.LastestBrands)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                                    <div class="card-horizontal-product border-bottom rounded-0">
                                        <div class="card-horizontal-product-thumb">
                                            <a href="#">
                                                <img src="@FilePaths.BrandThumbimage@brand.Image" alt="">
                                            </a>
                                        </div>
                                        <div class="card-horizontal-product-content">
                                            <div class="card-horizontal-product-title">
                                                <a href="#">
                                                    <p>
                                                        @brand.BrandTitle
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                            </div>
                                            <div class="card-horizontal-product-price">
                                                <span>تعداد محصول در سایت : @brand.ProductCounts</span>
                                            </div>
                                            <div class="card-horizontal-product-buttons">
                                                <a asp-action="FilterProducts"
                                                   asp-area=""
                                                   asp-controller="ShopProduct"
                                                   asp-route-BrandId="@brand.BrandId" class="btn btn-outline-info">نمایش محصولات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                               
                        </div>
                    </section>
                    <!-- End Feature-Product -->
                }
               
                <!-- Start Brand-Slider -->
                <section class="slider-section dt-sl mb-5">
                    <div class="row">
                        <!-- Start Product-Slider -->
                        <div class="col-12">
                            <div class="brand-slider carousel-lg owl-carousel owl-theme">
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1076.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1078.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1080.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/2315.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1086.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/5189.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1000006973.png" class="img-fluid" alt="">
                                </div>
                                <div class="item">
                                    <img src="/DidiKala/assets/img/brand/1000014452.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End Product-Slider -->

                    </div>
                </section>
                <!-- End Brand-Slider -->

            </div>

</main>
<!-- End main-content -->