@model Window.Domain.ViewModels.Site.Shop.SellerDetail.SellerDetailDTO
@using Window.Application.Convertors
@using Window.Application.StticTools;

@{
    ViewData["Title"] = "اطلاعات فروشنده";
}

<div class="modal fade" id="message-modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fs-base modal-title">ارسال پیام به فلوید مایلز</h3>
                <button class="btn-close ms-0" type="button" data-bs-dismiss="modal"></button>
            </div>
            <form class="modal-body needs-validation" novalidate="">
                <div class="mb-4">
                    <textarea class="form-control" rows="6" placeholder="پیام خود را بنویسید" required=""></textarea>
                    <div class="invalid-feedback">لطفاً قبل از ارسال پیام خود را تایپ کنید.</div>
                </div>
                <button class="btn btn-primary mb-2" type="submit"><i class="fi-send me-2"></i>ارسال پیام</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 mb-md-4 py-5">
    <!-- Breadcrumb-->
    <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item"><a href="#">فروشندگان پنجره یاب</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.UserDetail.SellerUsername</li>
        </ol>
    </nav>
    <div class="row">
        <!-- Sidebar (Agent's info)-->
        <aside class="col-lg-3 col-md-4 mb-5">
            <div class="pe-lg-3">
                @if (!string.IsNullOrEmpty(Model.UserDetail.SellerImageName))
                {
                    <img class="d-block rounded-circle mx-auto mx-md-0 mb-3" src="@FilePaths.UserAvatarPath@Model.UserDetail.SellerImageName" width="120" alt="Floyd Miles">
                }
                else
                {
                    <img class="d-block rounded-circle mx-auto mx-md-0 mb-3" src="@FilePaths.DefaultProductAvatar" width="120" alt="Floyd Miles">
                }

                <h2 class="h4 text-center text-md-start mb-1 font-vair">@Model.UserDetail.SellerUsername</h2>
                @if (!string.IsNullOrEmpty(Model.UserDetail.ShopCenterName))
                {
                    <p class="text-center text-md-start mb-2 pb-1">@Model.UserDetail.ShopCenterName</p>
                }
                <div class="d-flex justify-content-center justify-content-md-start border-bottom pb-4 mb-4">
                    <span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span><a class="ms-2" href="real-estate-vendor-reviews.html">45 نظر</a>
                </div>
                <ul class="d-table list-unstyled mx-auto mx-md-0 mb-3 mb-md-4">
                    <li class="mb-2"><i class="fi-phone text-primary mt-n1 me-2 align-middle"></i>@Model.UserDetail.SellerMobile</li>
                    <li class="mb-2">تاریخ عضویت : @Model.UserDetail.RegisterDate.ToShamsi() </li>
                </ul>
            </div>
        </aside>
        <!-- Content-->
        <div class="col-lg-9 col-md-8">
            <h1 class="h2 text-right text-sm-start mb-4 font-vazir">محصولات @Model.UserDetail.SellerUsername</h1>
            <!-- Nav tabs + Sorting-->

            <div class="tab-content">
                <!-- For rent tab-->
                <div class="tab-pane fade show active" id="for-rent" role="tabpanel">
                    <div class="row g-4 g-md-3 g-lg-4 pt-2">

                        @if (Model.ShopCards != null && Model.ShopCards.Any())
                        {
                            foreach (var product in Model.ShopCards)
                            {
                                <!-- Item-->
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card shadow-sm card-hover border-0 h-100">
                                        <div class="tns-carousel-wrapper card-img-top card-img-hover">

                                            <a class="img-overlay"
                                               asp-action="ShopProductDetail"
                                               asp-area=""
                                               asp-controller="ShopProduct"
                                               asp-route-productId="@product.ProductId"></a>

                                            <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-success mb-1">فروشی</span></div>

                                            <div class="content-overlay end-0 top-0 pt-3 ps-3">
                                                <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="نشان کردن" aria-label="نشان کردن"><i class="fi-heart"></i></button>
                                            </div>
                                            <div class="tns-outer" id="tns1-ow">
                                                <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                                                </div>
                                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
                                                    slide <span class="current">
                                                        3
                                                    </span>  of 2
                                                </div><div id="tns1-mw" class="tns-ovh">
                                                    <div class="tns-inner" id="tns1-iw">

                                                        <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transition-duration: 0s; transform: translate3d(-33.3333%, 0px, 0px);">
                                                            <img src="@FilePaths.ProductsPathThumb@product.ProductImage" alt="Image" class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tns-nav" aria-label="Carousel Pagination"><button type="button" data-nav="0" aria-controls="tns1" style="" aria-label="Carousel Page 1 (Current Slide)" class="tns-nav-active"></button><button type="button" data-nav="1" tabindex="-1" aria-controls="tns1" style="" aria-label="Carousel Page 2"></button></div>
                                            </div>
                                        </div>
                                        <div class="card-body position-relative pb-3">
                                            <h3 class="h6 mb-2 fs-base">
                                                <a class="nav-link stretched-link" asp-action="ShopProductDetail"
                                                   asp-area=""
                                                   asp-controller="ShopProduct"
                                                   asp-route-productId="@product.ProductId">@product.ShopProductName</a>
                                            </h3>
                                            <p class="mb-2 fs-sm text-muted">برند محصول : @product.BrandName</p>
                                            <p class="mb-2 fs-sm text-muted">رنگ محصول : @product.ColorName</p>
                                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>@product.Price.ToString("#,000") ریال </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>