@model List<Window.Domain.Entities.Sample.Sample>

@{
    ViewData["Title"] = "استعلام گیری";
}

<div class="row">

    <div class="col-lg-12 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>لیست نمونه ها </span>
                </div>
            </div>

            @if (Model != null && Model.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                #
                            </th>
                            <th class="tc vm">
                                لوگوی نمونه
                            </th>
                            <th class="tc vm">
                                نام نمونه
                            </th>
                            <th class="tc vm">
                                عرض (cm)
                            </th>
                            <th class="tc vm">
                                ارتفاع (cm)
                            </th>
                            <th class="tc vm">
                                تعداد
                            </th>
                            <th class="tc vm">
                                محدوده ی ارتفاع (cm)
                            </th>
                            <th class="tc vm">
                                محدوده ی عرض (cm)
                            </th>
                            <th class="tc vm">
                                ثبت
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var product in Model)
                        {
                            <form asp-action="InquiryStep3" asp-controller="test" asp-area="" id="" method="post">
                                <input type="hidden" value="@product.Id" name="SampleId" />
                                <input type="hidden" value="@ViewBag.UserMacAddress" name="userMacAddress" />

                            <tr class="tc vm" remove-ajax-item="">
                                <td class="vm">
                                        @product.Id
                                </td>
                                <td class="vm">
                                    <div class="flex-style-center">
                                        <a target="_blank" href="@Window.Application.StticTools.FilePaths.SampleThumbimage/@product.Image">
                                            <img src="@Window.Application.StticTools.FilePaths.SampleThumbimage/@product.Image" class="avatar-style" style="height:70px;width:120px;" />
                                        </a>
                                    </div>
                                </td>
                                <td class="tc vm" style="max-width: 200px">
                                        @product.SegmentName
                                </td>
                                <td class="tc vm">
                                    <input type="number" min="0" step="1" name="Width" />
                                        @if (product.Id == 16 || product.Id == 15)
                                        {
                                        <hr />
                                        <input type="number" min="0" step="1" name="katibeSize" placeholder="عرض درب a" />
                                        }
                                </td>
                                <td class="tc vm">
                                    <input type="number" min="0" step="1" name="Height" />
                                </td>
                                <td class="tc vm">
                                    <input type="number" min="1" name="SampleCount" />
                                </td>
                                <td class="tc vm">
                                    <p> @product.MaxHeight تا @product.MinHeight </p>
                                </td>
                                <td class="tc vm">
                                    <p> @product.MaxWidth تا @product.MinWidth </p>
                                </td>
                                <td class="tc vm">
                                    <button type="submit" class="btn  btn-palegreen">
                                        ثبت
                                    </button>
                                </td>
                            </tr>

                            </form>
                        }
                    </tbody>

                </table>

                <a asp-action="InquiryStep4" asp-route-userMacAddress="@ViewBag.UserMacAddress" asp-controller="test" asp-area="" class="btn btn-labeled w-100 btn-blue" style="margin-top: 30px;margin-bottom: -20px;">
                    <i class="btn-label glyphicon glyphicon-filter"></i>استعلام گیری
                </a>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>

