@using Window.Application.Extensions
@using Window.Application.Convertors
@model Tuple<List<Window.Domain.ViewModels.Site.Inquiry.InquiryViewModel>, int>
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "نتیجه ی استعلام گیری ";

    var brand = ViewBag.Brand != null ? ViewBag.Brand as List<SelectListViewModel> : null;
}

@section Styles
{
}

@section Scripts
{
<script>

       $("#MainBrandId").change(function () {
        $("#pageid").val(1);
        $("#formFilter").submit();
      });

    function changePage(pageid) {
        $("#pageid").val(pageid);
        $("#formFilter").submit();
    }

</script>
}

<form asp-action="InquiryStep4" asp-controller="test" asp-area="" id="formFilter" method="get">
    <input type="hidden" id="pageid" name="pageId" value="@ViewBag.pageId.ToString()" />
    <input type="hidden" name="userMacAddress" value="@ViewBag.userMacAddress" />

    <div class="row">
 
        <div class="col-lg-12 col-sm-12">
            <div class="well with-header with-footer table-responsive">
                <div class="header bordered-azure">
                    <div class="flex-style">
                        <span>لیست </span>
                    </div>
                </div>


                @if (Model.Item1 != null && Model.Item1.Any())
                {
                    <table class="table table-hover table-bordered tc vm">
                        <thead class="tc vm">
                            <tr class="tc vm">
                                <th class="tc vm">
                                    تصویر فروشنده
                                </th>
                                <th class="tc vm">
                                    نام فروشنده
                                </th>
                                <th class="tc vm">
                                    لوکوی برند
                                </th>
                                <th class="tc vm">
                                    قیمت
                                </th>
                                <th class="tc vm">
                                    امتیاز
                                </th>
                                <th class="tc vm">
                                    اطلاعات
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tc vm">
                            @foreach (var product in Model.Item1)
                            {
                                <tr class="tc vm" remove-ajax-item="">

                                    <td class="vm">
                                        <div class="flex-style-center">
                                            <img src="/content/images/user/main/@product.UserAvatar" class="avatar-style" style="border-radius:50px;" />
                                        </div>
                                    </td>
                                    <td class="tc vm" style="max-width: 200px">
                                        @product.UserName
                                    </td>
                                    <td class="tc vm">
                                        <img src="@Window.Application.StticTools.FilePaths.BrandThumbimage/@product.BrandImage" class="avatar-style" style="border-radius:50px;" />
                                    </td>
                                    @if (product.Price.HasValue)
                                    {
                                        <td class="tc vm">
                                            @product.Price.Value.ToString("#,000") ریال
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="tc vm">
                                            <p class="label label-orange">وارد نشده </p>
                                        </td>
                                    }
                                    <td class="tc vm">
                                    </td>
                                    <td class="tc vm">
                                        <button type="submit" class="btn btn-labeled btn-btn-blue">
                                            نمایش اطلاعات
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                    @if (Model.Item2 > 1)
                    {
                        int pageCount = ViewBag.pageId;
                        int next = pageCount + 1;
                        int last = pageCount - 1;


                        <div class="footer tc">
                            <ul class="pagination mt-5px pagingInInIndex">

                                @for (int i = 1; i <= (int)Model.Item2; i++)
                                {
                                    <li class="@((ViewBag.pageId == i ?"active":"")) "><a class="cursor-pointer " onclick="changePage(@i)" href="#">@i</a></li>
                                }

                            </ul>
                        </div>
                    }
                }
                else
                {
                    <partial name="_NotFoundPartial" />
                }

                      <a asp-action="InquiryStep1" asp-controller="test" asp-area="" class="btn btn-labeled w-100 btn-darkorange mr-10px" style="margin-top: 30px;margin-bottom: -20px;">
                        <i class="btn-label glyphicon glyphicon-remove"></i>حذف استعلام
                    </a>

            </div>
        </div>
    </div>
</form>

