@*@using AgahiDooni.Application.Utils
@model IEnumerable<AgahiDooni.Domain.Entities.ContactUs.Ticket>
<li class="nav-item dropdown notification_dropdown">
    <a class="nav-link bell ai-icon" href="#" role="button" data-toggle="dropdown">
        <svg id="icon-user" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
        </svg>
        @if (Model != null && Model.Any())
        {
            <div class="pulse-css"></div>
        }
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        @if (Model != null && Model.Any())
        {
            <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" style="height:380px;">

                <ul class="timeline">
                    @foreach (var ticket in Model)
                    {
                        <li>
                            <div class="timeline-panel">
                                <div class="media mr-2">
                                    <img alt="image" width="50" src="@(PathExtension.DefaultUserAvatarPathOrigin)">
                                </div>
                                <div class="media-body">
                                    <h6 class="mb-1">@ticket.Owner.UserName</h6>
                                    <hr />
                                    <a asp-area="Admin" asp-controller="Ticket" asp-action="TicketDetails" asp-route-ticketId="@ticket.Id">
                                        <h6 class="mb-1">@ticket.Title</h6>
                                    </a>
                                    <small class="d-block">@ticket.TicketMessages.Last().CreateDate.ToStringShamsiDate() | ساعت @ticket.TicketMessages.Last().CreateDate.ToString("HH:mm")</small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>


            </div>
        }
        <a class="all-notification" asp-area="Admin" asp-controller="Ticket" asp-action="Index">
            مشاهده همه اعلان ها <i class="ti-arrow-right"></i>
        </a>
    </div>
</li>*@