@using Window.Application.StticTools;
@using Window.Domain.ViewModels.Common
@using Window.Domain.ViewModels.Site.Shop.ShopProduct
@model Window.Domain.ViewModels.Seller.ShopProduct.CreateShopProductSellerSideDTO

@{
    ViewData["Title"] = "افزودن محصول جدید";

    var colors = ViewData["Colors"] as List<ListOfColorsForFilterProductsDTO>;

    var saleScale = ViewData["SaleScales"] as List<Window.Domain.Entities.SiteSetting.SalesScale>;
}

@section Styles
{
    <link href="~/lib/custom/custom.css" rel="stylesheet" />
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="CreateProduct" asp-controller="ShopProduct" asp-area="Seller" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="Title"> عنوان محصول <span style="color:red;">(اجباری)</span></label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="Price"> قیمت <span style="color:red;">(اجباری)</span></label>
                                <input type="text" class="form-control" NumericInput="1" asp-for="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="ShortDescription"> توضیح مختصر <span style="color:red;">(اجباری)</span></label>
                                <input type="text" class="form-control" asp-for="ShortDescription">
                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="ProductTag"> تگ های محصول <span>(اختیاری)</span></label>
                                <input type="text" class="form-control" class="form-control" tagify="1" asp-for="ProductTag">
                                <span class="text-danger" asp-validation-for="ProductTag"></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="form-group col-md-12">
                                <label asp-for="Description"> توضیح کامل <span>(اختیاری)</span></label>
                                <textarea class="form-control" ckeditor="1" asp-for="Description"></textarea>
                                <span class="text-danger" asp-validation-for="Description"></span>

                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                                <a asp-area="Seller"
                                   asp-action="FilterShopProducts"
                                   asp-controller="ShopProduct"
                                   class="btn btn-labeled btn-warning">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>بازگشت
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> مقیاس فروش محصول   </span>
                        </div>
                        <div class="widget-body">
                            <div class="form-group">

                                <div>

                                    <label> مقیاس های فروش <span style="color:red;">(اجباری)</span></label>

                                    <select asp-for="SaleScaleId" class="form-control">
                                        <option value="">انتخاب کنید </option>
                                        @if (saleScale != null && saleScale.Any())
                                        {
                                            foreach (var scale in saleScale)
                                            {
                                                <option value="@scale.Id"> @scale.ScaleTitle </option>
                                            }
                                        }
                                    </select>
                                    <span class="text-danger" asp-validation-for="SaleScaleId"></span>

                                </div>

                                <div style="margin-top:20px;">
                                    <label asp-for="SaleRatio"> ضریب فروش محصول <span style="color:red;">(اجباری)</span></label>
                                    <input type="text" class="form-control" min="1" value="1" asp-for="SaleRatio">
                                    <span class="text-danger">ضریب فروش به معنی آن است که خریداران شما به ازای انتخاب و افزودن هر یک واحد از این محصول به تعداد ضریب انتخابی شما به سبد خریدش اضافه می گردد.</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> موجودی محصول   </span>
                        </div>
                        <div class="widget-body">

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="ShowProductInventory">
                                        <span class="text"> میخواهم موجودی محصول در سایت نمایش داده شود </span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">

                                <div style="margin-top:20px;">
                                    <label asp-for="ProductInventory"> تعداد موجودی کالا <span style="color:red;">(اجباری)</span></label>
                                    <input type="text" class="form-control" min="1" value="1" asp-for="ProductInventory">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> رنگ محصول   </span>
                        </div>
                        <div class="widget-body">

                            <div class="form-group">
                                <label> رنگ ها <span style="color:red;">(اجباری)</span></label>
                                <select asp-for="ShopColorId" class="form-control">
                                    <option value="">انتخاب کنید </option>
                                    @if (colors != null && colors.Any())
                                    {
                                        foreach (var color in colors)
                                        {
                                            <option value="@color.Id"> @color.ColorTitle </option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="ShopColorId"></span>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
