@using Window.Application.StticTools
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common
@model Window.Domain.ViewModels.Seller.PersonalInfo.ListOfPersonalInfoViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    ViewData["Title"] = "لیست اطلاعات شخصی ";
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;
}

@section Scripts
    {
    <script src="/lib/Custom/SellerPersonalInfo.js"></script>
    <partial name="_JqueryValidation" />

    <script>

        $("#CountryId").change(function () {
            if ($("#CountryId :selected").val() !== '') {
                $('#CityId option:not(:first)').remove();
                $('#StateId option:not(:first)').remove();
                $.get("/Home/LoadCities", { stateId: $("#CountryId :selected").val() }).then(res => {
                    if (res.data !== null) {
                        $.each(res.data, function () {
                            $("#StateId").append(
                                '<option value=' + this.id + '>' + this.title + '</option>'
                            );
                        });
                    }
                });
            } else {
                $('#StateId option:not(:first)').remove();
                $('#CityId option:not(:first)').remove();
            }
        });

        $("#StateId").change(function () {
            if ($("#StateId :selected").val() !== '') {
                $('#CityId option:not(:first)').remove();
                $.get("/Home/LoadCities", { stateId: $("#StateId :selected").val() }).then(res => {
                    if (res.data !== null) {
                        $.each(res.data, function () {
                            $("#CityId").append(
                                '<option value=' + this.id + '>' + this.title + '</option>'
                            );
                        });
                    }
                });
            } else {
                $('#CityId option:not(:first)').remove();
            }
        });

    </script>

}

@section Breadcrumb
    {
    <li>
        <a asp-action="Index" asp-controller="Home" asp-area="Seller"> داشبورد </a>
    </li>
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}



<div class="col-lg-12 col-sm-12">

    <div class="row">

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-warning">
                    <i class="widget-icon fa fa-arrow-left"></i>
                    <span class="widget-caption">راهنمایی</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div><!--Widget Buttons-->
                </div><!--Widget Header-->
                <div class="widget-body">
                    لطفا توجه فرمایید اعداد وارد شده حتما می بایست با اعداد لاتین و انگلیسی وارد گردد. درصورت وارد کردن اعداد فارسی اطلاعات وارد شده قابل قبول نیست .
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.RejectedNote) && Model.MarketPersonalsInfoState == Window.Domain.Entities.Market.MarketPersonalsInfoState.Rejected)
        {
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bg-red">
                        <span class="widget-caption">پیام پشتیبانی </span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="config">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body bg-red">
                        <p> @Model.RejectedNote </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="row">

                <form method="post" asp-action="UpdateSellerPersonlInfo" asp-controller="SellerPersonalInfo" asp-area="Seller" enctype="multipart/form-data">

                    <input type="hidden" asp-for="PhotoOfBusinessLicense" />
                    <input type="hidden" asp-for="PhotoOfNationalCode" />
                    <input type="hidden" asp-for="CompanyLogo" />

                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green">
                                <span class="widget-caption"> اطلاعات شخصی  </span>
                            </div>
                            <div class="widget-body">
                                <div class="row">

                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="NationalCode"></label>
                                        <input type="text" class="form-control" asp-for="NationalCode">
                                        <span class="text-danger" asp-validation-for="NationalCode"></span>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="SellerType">نوع فروشنده</label>
                                        <select asp-for="SellerType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Window.Domain.Enums.SellerType.SellerType))"></select>
                                        <span class="text-danger" asp-validation-for="SellerType"></span>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="CompanyName"></label>
                                        <input type="text" class="form-control" asp-for="CompanyName">
                                        <span class="text-danger" asp-validation-for="CompanyName"></span>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="PeriodTimesOfWork"></label>
                                        <input type="text" class="form-control" asp-for="PeriodTimesOfWork">
                                        <span class="text-danger" asp-validation-for="PeriodTimesOfWork"></span>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="CountryId"></label>
                                        <select class="form-control" asp-for="CountryId">
                                            <option value=""> لطفا یک کشور را انتخاب کنید </option>
                                            @if (countries != null && countries.Any())
                                            {
                                                foreach (var country in countries)
                                                {
                                                    if (Model != null && Model.CountryId == country.Id)
                                                    {
                                                        <option value="@country.Id" selected="selected"> @country.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@country.Id"> @country.Title </option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <span class="text-danger" asp-validation-for="CountryId"></span>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="StateId"></label>
                                        <select class="form-control" asp-for="StateId">
                                            <option value=""> لطفا یک استان را انتخاب کنید </option>
                                            @if (states != null && states.Any())
                                            {
                                                foreach (var state in states)
                                                {
                                                    if (Model != null && Model.StateId == state.Id)
                                                    {
                                                        <option value="@state.Id" selected="selected"> @state.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@state.Id"> @state.Title </option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <span class="text-danger" asp-validation-for="StateId"></span>
                                    </div>

                                    <div class="form-group col-md-4 col-sm-12">
                                        <label asp-for="CityId"></label>
                                        <select asp-for="CityId" class="form-control">
                                            <option value=""> لطفا یک شهر را انتخاب کنید </option>
                                            @if (cities != null && cities.Any())
                                            {
                                                foreach (var city in cities)
                                                {
                                                    if (Model != null && Model.CityId == city.Id)
                                                    {
                                                        <option value="@city.Id" selected="selected"> @city.Title </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@city.Id"> @city.Title </option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <span class="text-danger" asp-validation-for="CityId"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="Resume"></label>
                                        <textarea type="text" rows="7" class="form-control" asp-for="Resume"></textarea>
                                        <span class="text-danger" asp-validation-for="Resume"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label asp-for="WorkAddress"></label>
                                        <textarea type="text" rows="7" class="form-control" asp-for="WorkAddress"></textarea>
                                        <span class="text-danger" asp-validation-for="WorkAddress"></span>
                                    </div>

                                    <div class="form-group col-md-12 col-sm-12">

                                        <div class="col-lg-4 col-sm-12">
                                            <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-green">
                                                    <span class="widget-caption"> عکس کارت ملی</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="row">
                                                        <input type="file" class="display-none " asp-for="ImageOfNationalCode" ImageInput="2" id="UserAvatar2" accept=".jpg,.jpeg,.png" />

                                                        <div class="col-md-12">
                                                            <label for="UserAvatar2" class="file-input-style">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span class="mr-8px"> لطفا عکس کارت ملی را بارگذاری کنید .</span>
                                                            </label>
                                                        </div>

                                                        <div class="col-md-12 tc mt-10px">
                                                            <img src="@(string.IsNullOrEmpty(Model.PhotoOfNationalCode) ? FilePaths.DefaultUserAvatar : FilePaths.SellerInfoPath + Model.PhotoOfNationalCode)" class="image-style" ImageFile="2" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-green">
                                                    <span class="widget-caption"> عکس جواز کسب</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="row">
                                                        <input type="file" class="display-none " asp-for="ImageOfBusinessLicense" id="UserAvatar1" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                                        <div class="col-md-12">
                                                            <label for="UserAvatar1" class="file-input-style">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span class="mr-8px"> لطفا عکس جواز کسب را بارگذاری کنید .</span>
                                                            </label>
                                                        </div>

                                                        <div class="col-md-12 tc mt-10px">
                                                            <img src="@(string.IsNullOrEmpty(Model.PhotoOfBusinessLicense) ? FilePaths.DefaultUserAvatar : FilePaths.SellerInfoPath + Model.PhotoOfBusinessLicense)" class="image-style" ImageFile="1" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-green">
                                                    <span class="widget-caption"> لوگوی شرکت</span>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="row">
                                                        <input type="file" class="display-none " asp-for="ImageCompanyLogo" id="UserAvatar3" ImageInput="3" accept=".jpg,.jpeg,.png" />

                                                        <div class="col-md-12">
                                                            <label for="UserAvatar3" class="file-input-style">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span class="mr-8px"> لطفا لوگوی شرکت را بارگذاری کنید .</span>
                                                            </label>
                                                        </div>

                                                        <div class="col-md-12 tc mt-10px">
                                                            <img src="@(string.IsNullOrEmpty(Model.CompanyLogo) ? FilePaths.DefaultUserAvatar : FilePaths.SellerInfoPath + Model.CompanyLogo)" class="image-style" ImageFile="3" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr class="margin-bottom-10 margin-top-10" />

                                    <div class="col-md-12 flex-style">
                                        <button type="submit" class="btn btn-labeled btn-warning">
                                            <i class="btn-label glyphicon glyphicon-ok"></i>ویرایش
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="col-lg-12 col-sm-12">
                    <div class="well with-header with-footer table-responsive">
                        <div class="header bordered-azure">
                            <div class="flex-style">
                                <div class="widget-buttons">
                                    <div class="row" style="margin-right: 10px;">

                                        <a id="ShowUserCommentInAdminPanel" class="badge badge-success" asp-action="AddWorkSample" asp-controller="SellerPersonalInfo" asp-area="Seller">افزودن لیست نمونه کار</a>

                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        @if (Model.MarketWorkSamples != null && Model.MarketWorkSamples.Any())
                        {
                            <table class="table table-hover table-bordered tc vm ">
                                <thead class="tc vm">
                                    <tr class="tc vm">
                                        <th class="tc vm">
                                            تصویر نمونه کار
                                        </th>
                                        <th class="tc vm">
                                            عنوان نمونه کار
                                        </th>
                                        <th class="tc vm">
                                            امکانات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tc vm">
                                    @foreach (var link in Model.MarketWorkSamples)
                                    {
                                        <tr class="tc vm" id="profile_@link.Id" remove-ajax-item="@link.Id">
                                            <td class="vm">
                                                <img src="/content/images/sellerInfo/thumb/@link.WorkSampleImage" class="avatar-style" />
                                            </td>
                                            <td id="CommentDetail" class="tc vm">
                                                <p>@link.WorkSampleTitle</p>
                                            </td>

                                            <td class="tc vm">
                                                <button onclick="DeleteAjax(@link.Id, '@Url.Action("DeleteWorkSample", "SellerPersonalInfo", new {area = "Seller", id = link.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <partial name="_SellerNotFoundPartial" />
                        }
                        @*
                        <a onclick="LoadAddPersonalWorkSampleModalBody()" class="btn btn-labeled btn-success">
                        <i class="btn-label glyphicon glyphicon-ok"></i>ثبت نمونه کار جدید
                        </a>*@

                    </div>
                </div>

      
            <div class="col-lg-12 col-sm-12">
                <div class="well with-header with-footer table-responsive">
                    <div class="header bordered-azure">
                        <div class="flex-style">
                            <span>لیست لینک های ارتباطی</span>
                        </div>
                    </div>

                    @if (Model.MarketLinks != null && Model.MarketLinks.Any())
                    {
                        <table class="table table-hover table-bordered tc vm ">
                            <thead class="tc vm">
                                <tr class="tc vm">
                                    <th class="tc vm">
                                        عنوان لینک
                                    </th>
                                    <th class="tc vm">
                                        آدرس لینک
                                    </th>
                                    <th class="tc vm">
                                        امکانات
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tc vm">
                                @foreach (var sellerLinks in Model.MarketLinks)
                                {
                                    <tr class="tc vm" id="profile_@sellerLinks.Id" remove-ajax-item="@sellerLinks.Id">
                                        <td class="vm">
                                            <p>@sellerLinks.LinkTitle</p>
                                        </td>
                                        <td id="CommentDetail" class="tc vm">
                                            <p>@sellerLinks.LinkValue</p>
                                        </td>

                                        <td class="tc vm">
                                            <button onclick="DeleteAjax(@sellerLinks.Id, '@Url.Action("DeleteSellersLinks", "SellerPersonalInfo", new {area = "Seller", id = sellerLinks.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <partial name="_SellerNotFoundPartial" />
                    }

                    
                    <a onclick="LoadAddPersonalLinkModalBody()" class="btn btn-labeled btn-success">
                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت لینک ارتباطی جدید
                    </a>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

