@using Window.Application.Extensions
@using Window.Application.Convertors
@model List<Window.Domain.ViewModels.Site.Inquiry.InquiryViewModel>
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "نتیجه ی استعلام گیری ";

    var brand = ViewBag.Brand != null ? ViewBag.Brand as List<SelectListViewModel> : null;
}

@section Styles
    {
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

            .page-loading.active {
                opacity: 1;
                visibility: visible;
            }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #666276;
            ;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #bbb7c5;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        @@-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="/FinderSample/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="/FinderSample/vendor/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" media="screen" href="/FinderSample/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="/FinderSample/vendor/nouislider/dist/nouislider.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/FinderSample/css/theme.min.css">
}

@section Scripts
    {
    <script>

        $("#MainBrandId").change(function () {
            $("#pageid").val(1);
            $("#formFilter").submit();
        });

        function changePage(pageid) {
            $("#pageid").val(pageid);
            $("#formFilter").submit();
        }

        $('#portfolio-vid').mouseover(function () {
            $(this).get(0).play();
        }).mouseout(function () {
            $(this).get(0).pause();
        })

    </script>
}






<div class="container-fluid mt-5 pt-5 p-0">
    <div class="row g-0 mt-n3">

        <!-- Filters sidebar (Offcanvas on mobile)-->
        <aside class="col-lg-4 col-xl-3 border-top-lg border-end-lg shadow-sm px-3 px-xl-4 px-xxl-5 pt-lg-2">

            <form asp-action="InquiryStep4" asp-controller="InquiryProduct" asp-area="" method="get">
                <input type="hidden" name="userMacAddress" value="@ViewBag.userMacAddress" />

                <div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">

                    <div class="offcanvas-header d-flex d-lg-none align-items-center">
                        <h2 class="h5 mb-0">فیلتر جستجو</h2>
                        <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
                    </div>

                    <div class="offcanvas-header d-block border-bottom pt-0 pt-lg-4 px-lg-0">
                        <ul class="nav nav-tabs mb-0">
                            <li class="nav-item"><a class="nav-link active" href="/"><i class="fi-users fs-base me-2"></i>لیست فروشندگان</a></li>
                        </ul>
                    </div>

                    <div class="offcanvas-body py-lg-4">

                        <div class="pb-4 mb-2">
                            <h3 class="h6">مرتب سازی بر اساس مبلغ</h3>
                            <select class="form-select mb-2" name="orderByPrice">
                                <option value="2"> از کمترین قیمت </option>
                                <option value="1"> از بیشترین قیمت </option>
                            </select>
                        </div>

                        <div class="border-top py-4">
                            <button class="btn btn-translucent-success mb-3 me-2" type="submit">ثبت</button>
                            <a asp-action="InquiryStep1" asp-area="" asp-controller="InquiryProduct" class="btn btn-translucent-danger mb-3 me-2">استعلام مجدد</a>
                        </div>

                    </div>

                </div>

            </form>

        </aside>

        <!-- Page content-->
        <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">

            <div class="row row-cols-md-2 row-cols-1 gy-md-5 gy-4 mb-lg-5 mb-4 blog-list">

                <article class="col pb-2 pb-md-1">
                    <div class="d-block position-relative mb-3" href="real-estate-blog-single.html">
                        <span class="badge bg-info position-absolute top-0 start-0 m-3 fs-sm">جدید</span>
@*                        <img class="d-block rounded-3" src="/FinderSample/img/real-estate/blog/03.jpg" alt="Article image">*@

                        <video class="d-block rounded-3" controls>
                            <source src="/5b4553f8d15c0edec2fc9c24007deab025853916-144p.mp4" type="video/mp4">
                        </video>
                    </div><a class="fs-sm text-uppercase text-decoration-none" href="#">بازسازی خانه</a>
                    <h3 class="h5 mb-2 pt-1"><a class="nav-link" href="real-estate-blog-single.html">10 روند شیک دکوراسیون اتاق ناهارخوری برای بهار</a></h3>
                    <p class="mb-3">رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان...</p><a class="d-flex align-items-center text-decoration-none" href="#">
                        <img class="rounded-circle" src="/FinderSample/img/avatars/07.jpg" width="48" alt="Cody Fisher">
                        <div class="pe-2">
                            <h6 class="fs-base text-nav lh-base mb-1">کودی فیشر</h6>
                            <div class="d-flex text-body fs-sm"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 ms-1 align-middle"></i>28 شهریور</span><span><i class="fi-chat-circle opacity-70 mt-n1 ms-1 align-middle"></i>0 کامنت</span></div>
                        </div>
                    </a>
                </article>

                <article class="col pb-2 pb-md-1">
                    <a class="d-block position-relative mb-3" href="real-estate-blog-single.html"><span class="badge bg-info position-absolute top-0 start-0 m-3 fs-sm">جدید</span><img class="d-block rounded-3" src="/FinderSample/img/real-estate/blog/03.jpg" alt="Article image"></a><a class="fs-sm text-uppercase text-decoration-none" href="#">بازسازی خانه</a>
                    <h3 class="h5 mb-2 pt-1"><a class="nav-link" href="real-estate-blog-single.html">10 روند شیک دکوراسیون اتاق ناهارخوری برای بهار</a></h3>
                    <p class="mb-3">رم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان...</p><a class="d-flex align-items-center text-decoration-none" href="#">
                        <img class="rounded-circle" src="/FinderSample/img/avatars/07.jpg" width="48" alt="Cody Fisher">
                        <div class="pe-2">
                            <h6 class="fs-base text-nav lh-base mb-1">کودی فیشر</h6>
                            <div class="d-flex text-body fs-sm"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 ms-1 align-middle"></i>28 شهریور</span><span><i class="fi-chat-circle opacity-70 mt-n1 ms-1 align-middle"></i>0 کامنت</span></div>
                        </div>
                    </a>
                </article>
            </div>



            <!-- Breadcrumb-->
            <nav class="mb-3 pt-md-2" aria-label="Breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">نتیجه ی استعلام شما</li>
                </ol>
            </nav>
            <!-- Title-->
            <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
                <h1 class="h4 mb-sm-0">لیست فروشندگان براساس نتیجه ی استعلام شما</h1>

            </div>

            <!-- Sorting-->
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">

                <hr class="d-none d-sm-block w-100 mx-4">
                <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i class="fi-check-circle me-2"></i><span class="fs-sm mt-n1">@Model.Count() نتیجه یافت شد</span></div>
            </div>

            <!-- Catalog grid-->
            <div class="row g-4 py-4">


                @if (Model != null && Model.Any())
                {

                    @foreach (var product in Model)
                    {

                        <!-- Item-->
                        <div class="col-sm-6 col-xl-4">


                            <div class="card shadow-sm card-hover border-0 h-100">
                                <div class="tns-carousel-wrapper card-img-top card-img-hover">

                                    <div class="position-absolute start-0 top-0 pt-3 pe-3"><span class="d-table badge bg-info">@product.BrandName</span></div>

                                    <div class="tns-outer" id="tns7-ow">

                                        <div id="tns7-mw" class="tns-ovh">
                                            <div class="tns-inner" id="tns7-iw">
                                                <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns7" style="transition-duration: 0s; transform: translate3d(-33.3333%, 0px, 0px);">

                                                    @if (!string.IsNullOrEmpty(product.UserAvatar))
                                                    {
                                                        <video id="portfolio-vid" poster="/content/images/user/thumb/@product.UserAvatar" controls>
                                                            <source src="/5b4553f8d15c0edec2fc9c24007deab025853916-144p.mp4" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    }
                                                    else
                                                    {
                                                        <video id="portfolio-vid" poster="/FinderSample/img/real-estate/catalog/13.jpg" controls>
                                                            <source src="/5b4553f8d15c0edec2fc9c24007deab025853916-144p.mp4" type="video/mp4">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                        @*                                                            <img src="/FinderSample/img/real-estate/catalog/13.jpg" alt="Image" class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                            *@                                                        }

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <a asp-action="ShowSellerPersoanlInfo" asp-route-userId="@product.UserId" asp-area="" asp-controller="InquiryProduct" class="listing-img-container" style="height: auto !important;">

                                    <div class="card-body position-relative pb-3">
                                        <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">فروشنده :</h4>
                                        @if (string.IsNullOrEmpty(product.ShopName))
                                        {
                                            <h3 class="h6 mb-2 fs-base">
                                                <a class="nav-link stretched-link" href="/">
                                                    وارد نشده است
                                                </a>
                                            </h3>
                                        }
                                        else
                                        {
                                            <h3 class="h6 mb-2 fs-base">
                                                <a class="nav-link stretched-link" asp-action="ShowSellerPersoanlInfo" asp-route-userId="@product.UserId" asp-area="" asp-controller="InquiryProduct">
                                                    @product.ShopName
                                                </a>
                                            </h3>
                                        }
                                        <p class="mb-2 fs-sm text-muted">برند انتخابی : @product.BrandName</p>

                                        @if (product.Price.HasValue)
                                        {
                                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>@product.Price.Value.ToString("#,000") ریال</div>
                                        }
                                        else
                                        {
                                            <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>وارد نشده</div>
                                        }

                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">

                                        <span class="d-inline-block mx-1 px-2 fs-sm">
                                            @product.Score
                                            <i class="fi-star-filled me-1 mt-n1 fs-lg text-muted"></i>
                                        </span>

                                    </div>
                                </a>
                            </div>

                        </div>

                    }

                }


            </div>

        </div>
    </div>
</div>




<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar"><i class="fi-filter me-2"></i>فیلتر</button>
