@using Window.Application.Extensions
@using Window.Application.Convertors
@model Tuple<List<Window.Domain.ViewModels.Site.Inquiry.InquiryViewModel>, int>
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "نتیجه ی استعلام گیری ";

    var brand = ViewBag.Brand != null ? ViewBag.Brand as List<SelectListViewModel> : null;
}

@section Styles
    {
}

    @section Scripts
    {
    <script>

        $("#MainBrandId").change(function () {
            $("#pageid").val(1);
            $("#formFilter").submit();
        });

        function changePage(pageid) {
            $("#pageid").val(pageid);
            $("#formFilter").submit();
        }

    </script>
}

    <form asp-action="InquiryStep4" asp-controller="InquiryProduct" asp-area="" method="get">
        <input type="hidden" id="pageid" name="pageId" value="@ViewBag.pageId.ToString()" />
        <input type="hidden" name="userMacAddress" value="@ViewBag.userMacAddress" />

        <div class="parallax titlebar" data-background="/Site/images/3.jpg" data-color="#333333" data-color-opacity="0.7" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1600px 1010px; background-position: 50% -546.894px;">
            <div class="parallax-overlay" style="background-color: rgb(51, 51, 51); opacity: 0.7;"></div>

            <div id="titlebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <h2>نتیجه ی استعلام</h2>
                            <span>لیست فروشندگان ارائه دهنده ی محصولات درخواستی شما</span>

                            <!-- Breadcrumbs -->
                            <nav id="breadcrumbs">
                                <ul>
                                    @*  <li><a href="#">خانه</a></li>
                                <li>آگهی ها</li>*@
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row sticky-wrapper">

                <div class="col-md-4">
                    <div class="sidebar sticky right">

                        <!-- Widget -->
                        <div class="widget margin-bottom-40">
                            <h3 class="margin-top-0 margin-bottom-35">فیلتر کردن نتیجه</h3>

                            <!-- Row -->
                            <div class="row with-forms">
                                <!-- Status -->
                                <div class="col-md-12">
                                    <select name="brandTitle" id="MainBrandId" data-placeholder="برند" class="chosen-select-no-single" style="display: block;">
                                        <option value="@null">لطفا یکی از برند هارا انتخاب کنید </option>
                                        <option value="All">همه </option>
                                    @if (brand != null && brand.Any())
                                    {
                                        foreach (var brands in brand)
                                        {
                                            <option value="@brands.Title"> @brands.Title </option>
                                        }
                                    }
                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="display: none;width: 100%;" title=""><a class="chosen-single chosen-default"><span>وضعیت</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                            </div>
                        </div>
                        <!-- Row / End -->
                        <!-- Row -->
                        <div class="row with-forms">
                            <!-- Status -->
                            <div class="col-md-12">
                                <select name="orderByPrice" data-placeholder="مرتب سازی بر اساس مبلغ" class="chosen-select-no-single" style="display: block;">
                                    <option value="2"> صعودی </option>
                                    <option value="1"> نزولی </option>
                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="display: none;width: 100%;" title=""><a class="chosen-single chosen-default"><span>وضعیت</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                            </div>
                        </div>
                        <!-- Row / End -->
                        <!-- Row -->
                        <div class="row with-forms">
                            <!-- Status -->
                            <div class="col-md-12">
                                <select name="orderByScore" data-placeholder="مرتب سازی بر اساس امتیاز" class="chosen-select-no-single" style="display: block;">
                                    <option value="2"> صعودی </option>
                                    <option value="1"> نزولی </option>
                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="display: none;width: 100%;" title=""><a class="chosen-single chosen-default"><span>وضعیت</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                            </div>
                        </div>
                        <!-- Row / End -->

                        <button type="submit" class="button fullwidth margin-top-30">استعلام گیری</button>

                        <a style="background-color: #ce0505 !important;" asp-action="InquiryStep1" asp-controller="InquiryProduct" asp-area="" class="button fullwidth margin-top-30">حذف استعلام</a>

                    </div>
                    <!-- Widget / End -->

                </div>
            </div>

            <div class="col-md-8">


                <!-- Sorting / Layout Switcher -->
                <div class="row margin-bottom-15">

                    <div class="col-md-6">
                    </div>

                    <div class="col-md-6">
                        <!-- Layout Switcher -->
                        <div class="layout-switcher">
                            <a href="#" class="list"><i class="fa fa-th-list"></i></a>
                            <a href="#" class="grid active"><i class="fa fa-th-large"></i></a>
                        </div>
                    </div>
                </div>

                @if (Model.Item1 != null && Model.Item1.Any())
                {
                    <!-- Listings -->
                    <div class="listings-container grid-layout">

                        @foreach (var product in Model.Item1)
                        {
                            <!-- Listing Item -->
                            <div class="listing-item">

                                <a href="single-property-page-1.html" class="listing-img-container" style="height: auto !important;">

                                    <div class="listing-badges">
                                        <img style="height: auto; width: 60px; border-radius: 50px; margin-top: 10px; margin-right: 10px;" src="@Window.Application.StticTools.FilePaths.BrandThumbimage/@product.BrandImage" alt="">
                                        <span>@product.BrandName</span>

                                    </div>
                                    <div class="listing-img-content">


                                        @if (@product.Score == 0)
                                        {
                                            <span class="like-icon "></span>
                                            <span class="like-icon" style="padding-right: 50px;"></span>
                                            <span class="like-icon" style="padding-right: 75px;"></span>
                                            <span class="like-icon" style="padding-right: 100px;"></span>
                                            <span class="like-icon" style="padding-right: 125px;"></span>
                                        }
                                        @if (@product.Score == 1)
                                        {
                                            <span class="like-icon liked"></span>
                                            <span class="like-icon" style="padding-right: 50px;"></span>
                                            <span class="like-icon" style="padding-right: 75px;"></span>
                                            <span class="like-icon" style="padding-right: 100px;"></span>
                                            <span class="like-icon" style="padding-right: 125px;"></span>
                                        }
                                        @if (@product.Score == 2)
                                        {
                                            <span class="like-icon liked"></span>
                                            <span class="like-icon liked" style="padding-right: 50px;"></span>
                                            <span class="like-icon" style="padding-right: 75px;"></span>
                                            <span class="like-icon" style="padding-right: 100px;"></span>
                                            <span class="like-icon" style="padding-right: 125px;"></span>
                                        }
                                        @if (@product.Score == 3)
                                        {
                                            <span class="like-icon liked"></span>
                                            <span class="like-icon liked" style="padding-right: 50px;"></span>
                                            <span class="like-icon liked" style="padding-right: 75px;"></span>
                                            <span class="like-icon" style="padding-right: 100px;"></span>
                                            <span class="like-icon" style="padding-right: 125px;"></span>
                                        }
                                        @if (@product.Score == 4)
                                        {
                                            <span class="like-icon liked"></span>
                                            <span class="like-icon liked" style="padding-right: 50px;"></span>
                                            <span class="like-icon liked" style="padding-right: 75px;"></span>
                                            <span class="like-icon liked" style="padding-right: 100px;"></span>
                                            <span class="like-icon" style="padding-right: 125px;"></span>
                                        }
                                        @if (@product.Score == 5)
                                        {
                                            <span class="like-icon liked"></span>
                                            <span class="like-icon liked" style="padding-right: 50px;"></span>
                                            <span class="like-icon liked" style="padding-right: 75px;"></span>
                                            <span class="like-icon liked" style="padding-right: 100px;"></span>
                                            <span class="like-icon liked" style="padding-right: 125px;"></span>
                                        }

                                    </div>


                                    @if (!string.IsNullOrEmpty(product.UserAvatar))
                                    {
                                        <img src="/content/images/user/thumb/@product.UserAvatar" alt="" style="height: auto;">
                                    }
                                    else
                                    {
                                        <img src="/Site/images/listing-01.jpg" alt="" style="height: auto;">
                                    }

                                </a>

                                <div class="listing-content">

                                    <!--<div class="listing-title">
                                         <h4>
                                    @product.UserName
                                         </h4>
                                     </div>-->

                                    <div class="listing-footer" style="padding:8px 0px">

                                        @if (string.IsNullOrEmpty(product.ShopName))
                                        {
                                            <a class="button" asp-action="AddScoreToSeller" asp-route-sellerId="@product.UserId" asp-area="" asp-controller="InquiryProduct" style="background-color: #c100d1;    padding: 10px 45px;">
                                                وارد نشده است
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="button" asp-action="AddScoreToSeller" asp-route-sellerId="@product.UserId" asp-area="" asp-controller="InquiryProduct" style="background-color: #c100d1;    padding: 10px 45px;">
                                                @product.ShopName
                                            </a>
                                        }



                                        <a asp-action="ShowSellerPersoanlInfo" asp-route-userId="@product.UserId" asp-area="" asp-controller="InquiryProduct" class="button btn-estealam" style="background-color: #13bbe2;"> نمایش اطلاعات فروشنده </a>
                                    </div>

                                </div>
                                @if (product.Price.HasValue)
                                {
                                    <span class="listing-price">قیمت پیشنهادی:</span>
                                    <span class="listing-price">@product.Price.Value.ToString("#,000")  <i>ریال</i></span>

                                }
                                else
                                {
                                    <span class="listing-price">وارد نشده  </span>
                                }

                            </div>

                            <div class="clearfix"></div>
                            <!-- Listing Item / End -->
                        }


                    </div>
                }

            </div>

        </div>

    </div>

</form>

