@using Window.Application.Extensions
@using Window.Application.Convertors
@model Window.Domain.ViewModels.Site.Inquiry.FilterInquiryViewModel
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "استعلام گیری";
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;

    var glass = ViewBag.Glasses != null ? ViewBag.Glasses as List<SelectListViewModel> : null;

    Layout = "/Views/InquiryProduct/_InquiryLayout.cshtml";

}

@section Styles
    {
    <style>

        #StateId_chosen {
            display: none;
        }

        #CityId_chosen {
            display: none;
        }

        #StateId {
            display: block !important;
        }

        #CityId {
            display: block !important;
        }

        #SellerType_chosen {
            display: none;
        }

        #MainBrandId_chosen {
            display: none;
        }

        #GlassId_chosen {
            display: none;
        }

        #SellerType {
            display: block !important;
        }

        #MainBrandId {
            display: block !important;
        }

        #GlassId {
            display: block !important;
        }

    </style>
}

@section Scripts
    {

    <script src="/admin/js/jquery.min.js"></script>

    <script>

        $("#StateId").change(function () {

            console.log("Hello");

            if ($("#StateId :selected").val() !== '') {
                $('#CityId option:not(:first)').remove();
                $.get("/Home/LoadCities", { stateId: $("#StateId :selected").val() }).then(res => {
                    if (res.data !== null) {
                        $.each(res.data, function () {
                            $("#CityId").append(
                                '<option value=' + this.id + '>' + this.title + '</option>'
                            );
                        });
                        $("#CityId").removeAttr("disabled");
                    }
                });
            } else {
                $('#CityId option:not(:first)').remove();
            }
        });

        $("#SellerType").change(function () {
            if ($("#SellerType :selected").val() !== '') {
                $('#MainBrandId option:not(:first)').remove();
                $.get("/Home/LoadBrands", { SellerType: $("#SellerType :selected").val() }).then(res => {
                    if (res.data !== null) {
                        $.each(res.data, function () {
                            $("#MainBrandId").append(
                                '<option value=' + this.id + '>' + this.title + '</option>'
                            );
                        });
                        $("#MainBrandId").removeAttr("disabled");
                    }
                });
            } else {
                $('#MainBrandId option:not(:first)').remove();
            }
        });

    </script>

}





<div class="container mt-5 mb-md-4 py-5">

    <!-- Breadcrumb-->
    <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">استعلام گیری - قدم اول</li>
        </ol>
    </nav>

    <!-- Page content-->
    <div class="row justify-content-center pb-sm-2">
        <div class="col-lg-11 col-xl-10">

            <!-- Page title-->
            <div class="text-center pb-4 mb-3">
                <h1 class="h4 mb-4 font-vazir">افزودن اطلاعات فردی</h1>
                <p class="mb-4">در این صفحه شما می توانید اطلاعات فردی خود را وارد کرده تا باتوجه به آن ها اطلاعات بعذی برای شما نمایش داده شود.</p>
            </div>

            <!-- Steps-->
            <div class="bg-light rounded-3 py-4 px-md-4 mb-3">
                <div class="steps pt-4 pb-1">
                    <div class="step active">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">1</span></div>
                        <div class="step-label"> نوع محصول</div>
                    </div>
                    <div class="step ">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">2</span></div>
                        <div class="step-label"> برند</div>
                    </div>
                    <div class="step">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">3</span></div>
                        <div class="step-label"> درب و پنچره</div>
                    </div>
                    <div class="step">
                        <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">4</span></div>
                        <div class="step-label"> نتیجه ی استعلام</div>
                    </div>
                </div>
            </div>

            <form asp-action="InquiryStep2" asp-controller="InquiryProduct" asp-area="" id="filter-search" method="get">
                <input name="UserMacAddress" type="hidden" value="@ViewBag.UserId" />
                <!-- Step 2: Education-->
                <div class="bg-light rounded-3 p-4 p-md-5 mb-3">

                    <h2 class="h5 font-vazir mb-4"><i class="fi-real-estate-house text-primary fs-4 mt-n1 me-2 pe-1"></i>اطلاعات اولیه</h2>


                    <div class="row">

                        <div class="col-sm-6 mb-4">

                            <label class="form-label" for="pr-education-level"> استان سکونت شما <span class="text-danger">*</span></label>

                            <select asp-for="StateId" class="form-select form-select-lg" id="StateId" required="">
                                <option value=""> لطفا یک استان را انتخاب کنید </option>

                                @if (states != null && states.Any())
                                {
                                    foreach (var state in states)
                                    {
                                        if (Model != null && Model.StateId == state.Id)
                                        {
                                            <option value="@state.Id" selected="selected"> @state.Title </option>
                                        }
                                        else
                                        {
                                            <option value="@state.Id"> @state.Title </option>
                                        }
                                    }
                                }

                            </select>

                        </div>

                        <div class="col-sm-6 mb-4">

                            <label class="form-label" for="pr-education-level"> شهر سکونت شما <span class="text-danger">*</span></label>

                            <select asp-for="CityId" class="form-select form-select-lg" id="CityId" required="">
                                <option value=""> لطفا یک شهر را انتخاب کنید </option>
                                @if (cities != null && cities.Any())
                                {
                                    foreach (var state in cities)
                                    {
                                        if (Model != null && Model.StateId == state.Id)
                                        {
                                            <option value="@state.Id" selected="selected"> @state.Title </option>
                                        }
                                        else
                                        {
                                            <option value="@state.Id"> @state.Title </option>
                                        }
                                    }
                                }

                            </select>

                        </div>

                        <div class="col-sm-6 mb-4">

                            <label class="form-label" for="pr-education-level"> جنس کالا را انتخاب کنید <span class="text-danger">*</span></label>

                            <select asp-for="SellerType" class="form-select form-select-lg" id="CityId" required="">

                                <option value="0">UPVC</option>
                                <option value="1">آلومینیوم</option>

                            </select>

                        </div>

                        <div class="col-sm-6 mb-4">

                            <label class="form-label" for="pr-education-level"> نوع شیشه را انتخاب کنید <span class="text-danger">*</span></label>

                            <select asp-for="GlassId" class="form-select form-select-lg" id="CityId" required="">

                                @if (glass != null && glass.Any())
                                {
                                    foreach (var glasses in glass)
                                    {
                                        <option value="@glasses.Id"> @glasses.Title </option>
                                    }
                                }

                            </select>

                        </div>

                    </div>

                </div>
                <!-- Navigation-->
                <div class="d-flex flex-column flex-sm-row bg-light rounded-3 p-4 px-md-5">
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill me-sm-auto">مرحله بعد<i class="fi-chevron-right fs-sm ms-2"></i></button>
                </div>

            </form>
        </div>
    </div>
</div>





