@using Window.Application.StticTools
@using Window.Application.Extensions
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common
@model Window.Domain.ViewModels.Seller.PersonalInfo.ListOfPersonalInfoViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

@{
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;
    var comments = ViewBag.ListOfSellerCommentsForShow != null ? ViewBag.ListOfSellerCommentsForShow as List<Window.Domain.Entities.Comment.Comment> : null;
    var canInsertComment = ViewBag.CanInsertCommentAndStart != null ? ViewBag.CanInsertCommentAndStart as Window.Domain.Entities.Contract.RequestForContract : null;
    ulong sellerId = ViewBag.sellerId;
}




<div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="property-title">
                    <h2>@Model.CompanyName </h2>
                    <span>
                        <a href="#location" class="listing-address">
                            <i class="fa fa-map-marker"></i>
                            @if (countries != null && countries.Any())
                            {
                                foreach (var country in countries)
                                {
                                    if (Model != null && Model.CountryId == country.Id)
                                    {
                                        @country.Title
                                    }
                                }
                            },
                            @if (states != null && states.Any())
                            {
                                foreach (var state in states)
                                {
                                    if (Model != null && Model.StateId == state.Id)
                                    {
                                        @state.Title
                                    }
                                }
                            },
                            @if (cities != null && cities.Any())
                            {
                                foreach (var city in cities)
                                {
                                    if (Model != null && Model.CityId == city.Id)
                                    {
                                        @city.Title
                                    }
                                }
                            }
                        </a>
                    </span>
                </div>

                <div class="property-pricing">
                    <div>@Model.PeriodTimesOfWork</div>
                    <div class="sub-price"> ساعات پاسخ گویی</div>
                </div>



            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom:50px;">
    <div class="row">

        <!-- Property Description -->
        <div class="col-lg-8 col-md-7 sp-content">
            <div class="property-description">

                <!-- Accordion -->
                <div class="style-1 fp-accordion">

                    @if (Model.MarketWorkSamples != null && Model.MarketWorkSamples.Any())
                    {
                        <h3 class="desc-headline">لیست نمونه کارها</h3>

                        <div class="accordion">

                            @foreach (var link in Model.MarketWorkSamples)
                            {
                                <h3>@link.WorkSampleTitle  <i class="fa fa-angle-down"></i> </h3>
                                <div>
                                    <a class="floor-pic mfp-image" href="#">
                                        <img src="/content/images/sellerInfo/thumb/@link.WorkSampleImage" alt="">
                                    </a>

                                </div>
                            }

                        </div>
                    }

                </div>

                <!-- Details -->
                <h3 class="desc-headline">آدرس محل کار : </h3>
                <ul class="property-features margin-top-0">
                    <li>@Model.WorkAddress </li>
                </ul>


                <!-- Features -->
                <h3 class="desc-headline">رزومه ی کاری</h3>
                <ul class="property-features checkboxes margin-top-0">
                    <li>@Model.Resume</li>
                </ul>

                @if (comments != null && comments.Any())
                {
                    <h3 class="desc-headline">نظرات کاربران</h3>

                    <!-- Accordion -->
                    <div class="style-1 fp-accordion">
                        <div class="accordion">

                            @foreach (var user in comments)
                            {
                                <h3>
                                    <img src="@user.User.GetUserAvatar()" style="width:50px;height:50px;border-radius:100%;margin-left:20px;" />
                                    @user.User.Username
                                    <i class="fa fa-angle-down"></i>
                                </h3>
                                <div>

                                    
                                        <p>مرحله ی قرارداد کاربر : @user.RequestForContractStatus </p>

                                        <br>

                                    <p>
                                        @user.Description
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                }

                <!-- Listing Item / End -->
                <!-- Similar Listings Container / End -->

            </div>
        </div>
        <!-- Property Description / End -->



        <div class="col-lg-4 col-md-5 sp-sidebar">

            <h3 class="desc-headline"></h3>


            <div class="sidebar sticky right">

                <!-- Widget -->
                <div class="widget">

                    <!-- Agent Widget -->
                    <div class="agent-widget">
                        <div class="agent-title">
                            <div class="agent-details">
                                <h4><a href="#">لیست لینک های ارتباطی</a></h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        @if (Model.MarketLinks != null && Model.MarketLinks.Any())
                        {
                            @foreach (var sellerLinks in Model.MarketLinks)
                            {
                                <a class="button border" target="_blank" href="@sellerLinks.LinkValue">@sellerLinks.LinkTitle </a>
                            }
                        }

                    </div>
                    <!-- Agent Widget / End -->

                </div>

                <div class="widget">

                    @if (canInsertComment != null)
                    {
                        if (canInsertComment.RequestForContractType == Window.Domain.Enums.RequestForContract.RequestForContractType.Accepted)
                        {
                            <a asp-action="AddScoreToSeller" asp-route-sellerId="@sellerId" asp-area="" asp-controller="InquiryProduct" class="button fullwidth margin-top-5">امتیاز دهی</a>
                        }
                    }

                </div>

                <div class="widget">

                    @if (canInsertComment != null)
                    {
                        if (canInsertComment.RequestForContractType == Window.Domain.Enums.RequestForContract.RequestForContractType.Accepted)
                        {
                            <form asp-action="AddCommentFromUser" asp-area="" asp-controller="InquiryProduct" method="post">
                                <input name="SellerId" value="@sellerId" type="hidden">
                                <!-- Agent Widget -->
                                <div class="agent-widget">
                                    <div class="agent-title">
                                        <div class="agent-details">
                                            <h4><a href="#">افزودن نظر</a></h4>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <label> در چه مرحله ای از قرارداد هستید ؟ </label>
                                    <select name="ContractStep" class="form-control">

                                        <option>لطفا یک گزینه را انتخاب کنید </option>
                                        <option value="0">درحال گفتگو بامجری </option>
                                        <option value="1">قرار داد بسته شده است. </option>
                                        <option value="2">مجری کار را انجام داده است. </option>

                                    </select>

                                    <textarea name="Description" placeholder="نظر خود را وارد کنید"></textarea>
                                    <button type="submit" class="button fullwidth margin-top-5">ارسال پیام</button>
                                </div>
                            </form>

                            <!-- Agent Widget / End -->
                        }
                        if (canInsertComment.RequestForContractType == Window.Domain.Enums.RequestForContract.RequestForContractType.Decline)
                        {
                            <div class="agent-widget">

                                <a class="button fullwidth margin-top-5" asp-action="RequestForContract" asp-area="" asp-controller="InquiryProduct" asp-route-sellerId="@sellerId">درخواست قرارداد</a>

                            </div>
                        }
                    }
                    else
                    {
                        <div class="agent-widget">

                            <a class="button fullwidth margin-top-5" asp-action="RequestForContract" asp-area="" asp-controller="InquiryProduct" asp-route-sellerId="@sellerId">درخواست قرارداد</a>

                        </div>
                    }

                </div>


            </div>
        </div>


    </div>
</div>

