@model List<Window.Domain.ViewModels.Site.Shop.Location.ListOfUserLocation>
@using Window.Application.StaticTools;
@using Window.Application.Extensions;
@using Window.Application.StticTools

@{
    ViewData["Title"] = "انتخاب آدرس ";
    Layout = "_ShopLayout";
}

<main class="main-content dt-sl mb-3" style="margin-top: 207.967px; transform: none;">
    <div class="container main-container" style="transform: none;">
        <div class="row" style="transform: none;">

            <div class="cart-page-content col-xl-12 col-lg-12 col-12 px-0">

                <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 px-res-1">
                    <h2>انتخاب آدرس تحویل سفارش</h2>
                </div>

                <section class="page-content dt-sl">
                    <div class="address-section">
                        <div class="checkout-contact dt-sn dt-sn--box border px-0 pt-0 pb-0">

                            <div class="checkout-address dt-sn px-0 pt-0 pb-0 show" id="user-address-list-container">
                                <div class="checkout-address-content">
                                    <div class="checkout-address-headline">
                                        آدرس مورد نظر خود را جهت تحویل
                                        انتخاب فرمایید:
                                    </div>
                                    <div class="checkout-address-row">
                                        <div class="checkout-address-col">
                                            <button class="checkout-address-location" data-toggle="modal" data-target="#modal-location">
                                                <strong>ایجاد آدرس جدید</strong>
                                            </button>
                                        </div>
                                    </div>

                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var location in Model)
                                        {
                                            <div class="checkout-address-row">
                                                <div class="checkout-address-col">
                                                    <div class="checkout-address-box is-selected">
                                                        <h5 class="checkout-address-title">
                                                            @location.Username
                                                        </h5>
                                                        <p class="checkout-address-text">
                                                            <span>
                                                                @location.LocationAddress
                                                            </span>
                                                        </p>
                                                        <ul class="checkout-address-list">
                                                            <li>
                                                                <ul class="checkout-address-contact-info">
                                                                    <li class="">کدپستی: <span>@location.PostalCode</span></li>
                                                                    <li>
                                                                        شماره همراه: <span>@location.Mobile</span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <ul>
                                                                    <li>
                                                                        <a class="checkout-address-btn-remove"
                                                                           asp-action="DeleteLocation"
                                                                           asp-area=""
                                                                           asp-controller="Location"
                                                                           asp-route-LocationId="@location.LocationId">حذف</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <a class="checkout-address-btn-submit">
                                                            سفارش به این آدرس
                                                            ارسال می‌شود.
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>

                            <!-- Start Modal location new -->
                            <partial name="_AddOrEditLocationModal" model="null">
                                <!-- End Modal location new -->

                        </div>
                    </div>

                </section>

            </div>

        </div>
    </div>
</main>