@model Window.Domain.ViewModels.Admin.State.FilterStateViewModel
@{
    ViewData["Title"] = "فیلتر مکان ها";
}

@section Styles
{

}

@section breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<div class="row">
    <div class="col-lg-3 col-sm-12">
        @if (Model != null && Model.ParentState != null)
        {
            <a class="btn btn-sky w-100 margin-bottom-10" asp-route-ParentId="@Model.ParentState.Id" asp-action="CreateState" asp-controller="State" asp-area="Admin">ایجاد مکان جدید برای @Model.ParentState.Title</a>
        }
        else
        {
            <a class="btn btn-sky w-100 margin-bottom-10" asp-action="CreateState" asp-controller="State" asp-area="Admin">ایجاد مکان جدید اصلی</a>
        }
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                @if (Model.ParentState != null)
                {
                    <span class="widget-caption"> فیلتر مکان های @Model.ParentState.Title </span>
                }
                else
                {
                    <span class="widget-caption"> فیلتر مکان های اصلی </span>
                }

            </div>
            <div class="widget-body">
                <div>
                    <form asp-action="FilterState" asp-controller="State" asp-area="Admin" id="filter-search" method="get">
                        <input type="hidden" asp-for="ParentId" />
                        <input type="hidden" asp-for="Page" />

                        <div class="form-group">
                            <label asp-for="Title">عنوان </label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>

                        <div class="form-group">
                            <label asp-for="UniqeName">نام یکتا </label>
                            <input type="text" class="form-control" asp-for="UniqeName">
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-filter"></i>اعمال فیلتر
                                </button>

                                @if (Context.Request.QueryString.HasValue)
                                {
                                    @if (Model.ParentState != null)
                                    {
                                        <a asp-area="Admin" asp-controller="State" asp-action="FilterState" asp-route-ParentId="@Model.ParentId" class="btn btn-labeled w-100 btn-darkorange mr-10px">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="Admin" asp-controller="State" asp-action="FilterState" class="btn btn-labeled w-100 btn-darkorange mr-10px">
                                            <i class="btn-label glyphicon glyphicon-remove"></i>حذف فیلتر
                                        </a>
                                    }
                                    
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    @if (Model.ParentState != null)
                    {
                        <span class="widget-caption"> لیست مکان های @Model.ParentState.Title </span>
                    }
                    else
                    {
                        <span> لیست مکان های اصلی </span>
                    }
                    
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

            @if (Model.Entities != null && Model.Entities.Any())
            {
                <table class="table table-hover table-bordered tc vm">
                    <thead class="tc vm">
                        <tr class="tc vm">
                            <th class="tc vm">
                                عنوان
                            </th>
                            <th class="tc vm">
                                عنوان یکتا
                            </th>
                            <th class="tc vm">
                                امکانات
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tc vm">
                        @foreach (var state in Model.Entities)
                        {
                            <tr class="tc vm" remove-ajax-item="@state.Id">
                                <td class="tc vm" style="max-width: 200px">
                                    <p> @state.Title </p>
                                </td>
                                <td class="tc vm">
                                    <p> @state.UniqueName </p>
                                </td>
                                <td class="tc vm">
                                    @if (state.Parent != null && state.ParentId.HasValue && state.Parent.ParentId.HasValue)
                                    {
                                        
                                    }
                                    else
                                    {
                                        <a asp-action="FilterState" asp-controller="State" asp-area="Admin" asp-route-ParentId="@state.Id" class="btn btn-primary btn-circle btn-xs"><i class="glyphicon glyphicon-list"></i></a>
                                    }
                                    <a asp-action="EditState" asp-controller="State" asp-area="Admin" asp-route-id="@state.Id" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-edit"></i></a>
                                    <button onclick="DeleteAjax(@state.Id, '@Url.Action("DeleteBranch", "State", new {area = "Admin", stateId = state.Id})')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="footer tc">

                    <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />

                </div>
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }
        </div>
    </div>
</div>



