@model Window.Domain.ViewModels.Seller.ShopOrder.ManageShopOrderDetailDTO
@using Window.Application.Convertors
@using Window.Application.StticTools
@using Window.Application.Extensions

@{
    ViewData["Title"] = "اطلاعات پرداخت چکی";
}

@section Styles
{
}

@section Scripts
{

}

@section Breadcrumb
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">

                @if (Model.SellerInformations != null)
                {
                    <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                        @if (!string.IsNullOrEmpty(Model.SellerInformations.SellerUserAvatar))
                        {
                            <img src="@Model.SellerInformations.SellerUserAvatar.GetUserAvatar()" alt="" class="header-avatar">
                        }
                    </div>
                    <div class="col-lg-3 col-md-8 col-sm-12 profile-info">

                        <div class="header-fullname">نام فروشنده :@Model.SellerInformations.SellerName </div>

                        @if (Model.Order != null && Model.Order.IsFinally)
                        {
                            <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
                                <i class="fa fa-check"></i>
                                خرید نهایی شده است
                            </a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-danger btn-sm  btn-follow">
                                خرید نهایی نشده
                            </a>
                        }

                        <hr />
                        @if (Model.sellerChequeInfo != null)
                        {
                            <div class="header-information">
                                <p>
                                    تعداد چک هایی که فروشنده می پذیرد : @Model.sellerChequeInfo.CountOfCheque چک
                                </p>
                                <hr />
                                <p>
                                    حداکثر بازه ی زمانی قابل قبول فروشنده : @Model.sellerChequeInfo.SellerMaximumDays روز
                                </p>
                            </div>
                        }
                    </div>
                }


                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 profile-stats">
                    @if (Model.OrderCheques != null && Model.OrderCheques.Any())
                    {
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">@Model.OrderCheques.Count(p => p.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Accept)</div>
                                <div class="stats-title">تعداد چک های تایید شده توسط پنجره یاب</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">@Model.OrderCheques.Count(p => p.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Accept)</div>
                                <div class="stats-title">تعداد چک های تایید شده توسط فروشنده</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">@Model.OrderCheques.Count()</div>
                                <div class="stats-title">تعداد کل چک های آپلود شده </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">@Model.Order.Price.Value.ToString("#,000")</div>
                                <div class="stats-title">مبلغ سفارش به ریال</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inlinestats-col">
                                مجموع مبلغ چک های تایید شده ی ادمین: <strong>
                                    @(Model.OrderCheques
                                        .Where(p => p.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Accept)
                                        .Sum(p => p.ChequePrice).ToString("#,000")) ریال
                                </strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inlinestats-col">
                                مجموع مبلغ چک های تایید شده ی فروشنده: <strong>
                                    @(Model.OrderCheques
                                        .Where(p => p.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Accept)
                                        .Sum(p => p.ChequePrice).ToString("#,000")) ریال
                                </strong>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">چکی یافت نشده </div>
                                <div class="stats-title">تعداد چک های تایید شده توسط پنجره یاب</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">چکی یافت نشده</div>
                                <div class="stats-title">تعداد چک های تایید شده توسط فروشنده</div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">چکی یافت نشده</div>
                                <div class="stats-title">تعداد کل چک های آپلود شده </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 stats-col">
                                <div class="stats-value pink">@Model.Order.Price.Value.ToString("#,000")</div>
                                <div class="stats-title">مبلغ سفارش به ریال</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inlinestats-col">
                                مجموع مبلغ چک های تایید شده ی ادمین: <strong>
                                    0 ریال
                                </strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inlinestats-col">
                                مجموع مبلغ چک های تایید شده ی فروشنده: <strong>
                                    0 ریال
                                </strong>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="profile-body">
                <div class="col-lg-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                            <li class="active">
                                <a data-toggle="tab" href="#overview">
                                    اطلاعات چک های آپلودی
                                </a>
                            </li>
                            <li class="tab-red">
                                <a data-toggle="tab" href="#timeline">
                                    اطلاعات خرید
                                </a>
                            </li>
                            <li class="tab-palegreen">
                                <a data-toggle="tab" id="contacttab" href="#contacts">
                                    اطلاعات خریدار
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tabs-flat">

                            <div id="overview" class="tab-pane active">
                                <div class="row profile-overview">
                                    <h6 style="margin-right: 0px;" class="row-title before-themeprimary no-margin-top">

                                        چک های آپلودی

                                    </h6>

                                    @if (Model.OrderCheques != null && Model.OrderCheques.Any())
                                    {
                                        <ul class="timeline animated fadeInDown">

                                            @foreach (var cheque in Model.OrderCheques)
                                            {
                                                <li>
                                                    <div class="timeline-datetime">

                                                        @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Accept)
                                                        {
                                                            <p class="btn btn-palegreen btn-sm  btn-follow">
                                                                تایید شده توسط تیم پنجره یابن
                                                            </p>
                                                        }
                                                        @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.WaitingForCheck)
                                                        {
                                                            <p class="btn btn-warning btn-sm  btn-follow">
                                                                در انتظار بررسی تیم پنجره یاب
                                                            </p>
                                                        }
                                                        @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Reject)
                                                        {
                                                            <p class="btn btn-danger btn-sm  btn-follow">
                                                                رد شده توسط تیم پنجره ی یاب
                                                            </p>
                                                        }

                                                        <hr />

                                                        @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Accept)
                                                        {
                                                            <p class="btn btn-palegreen btn-sm  btn-follow">
                                                                تایید شده توسط فروشنده
                                                            </p>
                                                        }
                                                        @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.WaitingForCheck)
                                                        {
                                                            <p class="btn btn-warning btn-sm  btn-follow">
                                                                در انتظار بررسی فروشنده
                                                            </p>
                                                        }
                                                        @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Reject)
                                                        {
                                                            <p class="btn btn-danger btn-sm  btn-follow">
                                                                رد شده توسط فروشنده
                                                            </p>
                                                        }

                                                    </div>
                                                    <div class="timeline-badge blue">
                                                        <i class="fa fa-tag darkpink"></i>
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-header bordered-bottom bordered-blue">
                                                            <p class="timeline-datetime">
                                                                <small class="text-muted">

                                                                    @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Accept)
                                                                    {
                                                                        <span class="timeline-date btn btn-palegreen">تایید شده توسط تیم پنجره یابن</span>
                                                                    }
                                                                    @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.WaitingForCheck)
                                                                    {
                                                                        <span class="timeline-date btn btn-warning">در انتظار بررسی تیم پنجره یاب</span>
                                                                    }
                                                                    @if (cheque.OrderChequeAdminState == Window.Domain.Enums.Order.OrderChequeAdminState.Reject)
                                                                    {
                                                                        <span class="timeline-date btn btn-danger">رد شده توسط تیم پنجره ی یاب</span>
                                                                    }

                                                                    @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Accept)
                                                                    {
                                                                        <span class="timeline-date btn btn-palegreen" style="margin-top: 20px;">تایید شده توسط فروشنده</span>
                                                                    }
                                                                    @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.WaitingForCheck)
                                                                    {
                                                                        <span class="timeline-date btn btn-warning" style="margin-top: 20px;">در انتظار بررسی فروشنده</span>
                                                                    }
                                                                    @if (cheque.OrderChequeSellerState == Window.Domain.Enums.Order.OrderChequeSellerState.Reject)
                                                                    {
                                                                        <span class="timeline-date btn btn-danger" style="margin-top: 20px;">رد شده توسط فروشنده</span>
                                                                    }

                                                                </small>
                                                            </p>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <div class="tl-wide text-center" style="padding: 5px; margin-top:10px; margin-bottom: 10px;">

                                                                <a href="@FilePaths.OrderChequePath/@cheque.ChequeImage" target="_blank">
                                                                    <img src="@FilePaths.OrderChequePath/@cheque.ChequeImage" alt="" style="max-height: 158px;max-width: 100%;">
                                                                </a>

                                                            </div>

                                                            <p>کدملی صاحب چک : @cheque.CustomerNationalId </p>
                                                            <hr />
                                                            <p>تاریخ : @cheque.ChequeDateTime.ToShamsi()</p>
                                                            <hr />
                                                            <p>مبلغ چک : @cheque.ChequePrice.ToString("#,000") ریال</p>
                                                            <hr />
                                                            <a class="btn btn-primary"
                                                               asp-action="ChequeDetail"
                                                               asp-area="Seller"
                                                               asp-controller="ShopOrder"
                                                               asp-route-orderChequeId="@cheque.Id">
                                                                بررسی و تغییر وضعیت چک
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        </ul>
                                    }

                                </div>
                            </div>

                            <div id="timeline" class="tab-pane">

                                @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                                {
                                    <div class="row">
                                        @foreach (var product in Model.OrderDetails)
                                        {
                                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                                <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
                                                    <div class="databox-top no-padding">
                                                        <img src="@FilePaths.ProductsPathThumb/@product.Product.ProductImage" alt="" style="height:100px; width:100%;">
                                                    </div>
                                                    <div class="databox-bottom no-padding bordered-thick bordered-orange">
                                                        <div class="databox-row">
                                                            <div class="databox-cell cell-6 no-padding text-align-center bordered-right bordered-platinum">
                                                                <span class="databox-number lightcarbon no-margin">@product.Product.ProductTitle</span>
                                                                <span class="databox-text sonic-silver  no-margin">عنوان محصول</span>
                                                            </div>
                                                            <div class="databox-cell cell-2 no-padding text-align-center bordered-right bordered-platinum">
                                                                <span class="databox-number lightcarbon no-margin">@product.CountOfChoice</span>
                                                                <span class="databox-text sonic-silver no-margin">تعداد انتخابی</span>
                                                            </div>
                                                            <div class="databox-cell cell-4 no-padding text-align-center">
                                                                <span class="databox-number lightcarbon no-margin">@product.Product.ProducPrice.ToString("#,000") ریال</span>
                                                                <span class="databox-text sonic-silver no-margin">قیمت برحسب واحد فروش</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }


                            </div>

                            <div id="contacts" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile-contacts">

                                            @if (Model.CustomerUserInformations != null)
                                            {
                                                <div class="profile-badge orange">
                                                    <i class="fa fa-phone orange">

                                                    </i><span>اطلاعات کاربری خریدار</span>
                                                </div>
                                                <div class="contact-info">
                                                    <p>
                                                        موبایل :  @Model.CustomerUserInformations.Mobile
                                                    </p>
                                                    <p>
                                                        نام کاربری : @Model.CustomerUserInformations.Username
                                                    </p>
                                                </div>
                                            }

                                            @if (Model.Location != null)
                                            {
                                                <div class="profile-badge azure">
                                                    <i class="fa fa-map-marker azure"></i><span>آدرس پستی خریدار</span>
                                                </div>
                                                <div class="contact-info">
                                                    <p>
                                                        نام و نام خانوادگی : @Model.Location.FirstName  @Model.Location.LastName
                                                    </p>
                                                    <p>
                                                        استان : @Model.Location.State
                                                    </p>
                                                    <p>
                                                        شهر : @Model.Location.City
                                                    </p>
                                                    <p>
                                                        کدپستی  : @Model.Location.PostalCode
                                                    </p>
                                                    <p>
                                                        شهر : @Model.Location.Address
                                                    </p>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    @if (Model.CustomerUserInformations != null && Model.CustomerUserInformations.Avatar != null)
                                    {
                                        <div class="col-md-6">
                                            <div id="contact-map" class="animated flipInY" style="width: 150px;height: 150px;">
                                                <img style="height: 150px;width: 150px;" src="@Model.CustomerUserInformations.Avatar.GetUserAvatar()" alt="" class="header-avatar">
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>